@use "../utils/variables";
@use "../utils/mixin-header";


#header_accueil

{
    @include mixin-header.header;
  
    .div_img {
        @include mixin-header.div_img; 
      
}
     
    img{
        display: flex;
        width: 40vw;  
        padding-top:10%;
        padding-bottom:10%;
    }

}



// concerne le header de la page menu des différents restaurateur

#header_menu
{   
    
    @include mixin-header.header{
        height: 100px;
        display: flex;
        flex-direction: row;
        align-content: center;
        margin:0;
        padding:0;
        margin-bottom:2vw;
    }
    
   
a  
{   width:20%;
    height:50px;
    display:flex;
    padding-top:10%;
    padding-bottom:5%;
    margin:0;
    padding:10px;
    position: relative;
    left:10px;
    top:20px;
    
    .fa-arrow-left
    {
    width:40px;
    font-size: 7vw;
    
    }
}


img {
    display: flex;
    justify-content: center;
    width: 51vw;
    height: 16vw;
    position: relative;
    left: 8vw;
    top: 2.5vw;
    }

}
