@use "../utils/variables";
@use "../utils/mixin-header";


#header_accueil

{
    @include mixin-header.header;
  
    .div_img {
        @include mixin-header.div_img; 
      
}
     
    img{
        width: 40vw;  
        padding-top:10%;
        padding-bottom:10%;
    }

}





#header_menu
{   
    
    @include mixin-header.header{
        height: 100px;
        display: flex;
        flex-direction: row;
        align-content: center;
        margin:0;
        padding:0;
    }
    
   
a  
{   width:20%;
    display:flex;
    padding-top:10%;
    padding-bottom:5%;
    margin:0;
    width: 17vw;
    height:50px;
    padding:10px;
    position: relative;
    left:10px;
    top:20px;
    
    .fa-arrow-left
    {
    width:40px;
    font-size: 7vw;
    
    }
}


img {
    display: flex;
    justify-content: center;
    width:50vw;
    height:50px;
    padding:10px;
    position:relative;
    left:40px;
    top:15px;
    }

}
