@use "../utils/variables";
@use "../utils/mixin-menu";
@use "../utils/mixin-heart";
@use "../composant/bouton";
@use "../utils/mixin-bouton";
@use "../composant/animation";



#main_menu
{
    height:auto;
    margin-bottom:-15vw;
}

.imgresto
{
    width: 100vw;
    height:85vw;
    margin:0;
    object-fit:cover;
    
}


.menu
{
    display: flex;
    width:100%;
    height:auto;
    flex-direction:column;
    margin:0;
    padding:10px;
    background-color: variables.$fond-color;
    border-top-left-radius:40px;
    border-top-right-radius:40px;
    position:relative;
    bottom:50px;
    z-index: 1;
    

h1 {
    @include mixin-menu.menuh1; 
    }
 

div.heart_menu {
    @include mixin-heart.heart{
        top:-9.5vw;
    }
    & .fa-2x{
        font-size:1.5rem;
    }
}
 
h2 {
    @include mixin-menu.menuh2;
}

.line
{
@include mixin-menu.lineh2;
margin-bottom:20px;
}
.desktop{
    width: 100%;
    position: relative;
    top:-5vw;
}

li
{
    html{
        font-size: 62.5%;
    }
    @include mixin-menu.menuli;
    div
    {   
        
        width:85%;
        height:80%;
        margin-top:0;
        margin-bottom: 0;

      h3,p{
        position:relative;
        top:3.5vw;
        margin-left:3vw;
      }  
   
    h3{
        @include mixin-menu.menuh3;
        }
    p{
        @include mixin-menu.menu-p{
            opacity:(0.7)
        }

        }
    }

.fa-circle-check{
    display: none;
}

     // concerne tous les prix sur le menu  
     .prix_hover
     {
     @include mixin-menu.prix-hover-before;
       
     .prix{
        // concerne la position du prix normal sur le menu
        @include mixin-menu.prix;
        
        .fa-circle-check{
            display: none;
            @include mixin-menu.menu-icon;
        }
     }  
    }

  &:hover 
   {
        .menu_hover
        {    
        h3{
            width:80%;
        }
        p{
            width:80%;
            
        }
        }
   
        .prix_hover
        { display: flex;
          align-items:baseline;
          transition:250ms;
         
          @include animation.anim-prixhover;
        &::after{
            content:"";
            @include mixin-menu.fond-icon;
        }
        .prix2{
            // concerne la position du prix en hover sur le menu
            @include mixin-menu.prix2;
         }  
        
        .fa-circle-check{  
        display:flex;
        @include animation.animation-check;
        @include mixin-menu.menu-icon{
           
        }
        }
  
        }
    }
}
}



.li1 {
   padding-bottom: 1vw;
   opacity: (0);
   transform:translateY(0);
   transition-property: opacity, transform;
   
@include animation.animation-li1;
    }

.li2 {
    opacity: (0);
    transform:translateY(0);
   transition-property: opacity, transform;
   
    @include animation.animation-li2;
        }

.li3 {
    opacity: (0);
    transform:translateY(0);
   transition-property: opacity, transform;

@include animation.animation-li3;
}
.li4 {
    opacity: (0);
    transform:translateY(0);
   transition-property: opacity, transform;

@include animation.animation-li3;
}



ul{
    margin-bottom:4vw;
    
}




.btn{
    align-self: center;
    margin-top:10px;
    margin-bottom:10vw;
    font-size:18px;
    @include mixin-bouton.bouton-rose;
    &:hover{
        @include mixin-bouton.hover-bouton;
    }
}


