@use "../utils/variables";
@use "../utils/breakpoint-anim";

// animaton pour le bouton check en vert des pages menus

@mixin animation-check
{
    @keyframes iconrotation{
        0%{
            transform: rotate(-270deg);
            background-color: rotate(none);
        }
        100%{
            transform: rotate(0);
        }
    }
    animation: iconrotation 250ms linear;
}


// animation pour afficher les menus avec effet apparition

@mixin ani1
{ 
    @keyframes animation-menu{
        0% {
        visibility:hidden;
    }
            
        

        100%{
            
          
           visibility:visible;
        }
     }
    animation: animation-menu 50ms ease;
    animation-delay:250ms;
    animation-fill-mode: forwards;
   
}



// Travail sur l'animation de la page menu concernant les listes


@mixin animation-li1
{ 
    @keyframes animation-menu{
        0% {opacity:(0);
            transform: translatey(0);
            
        }

        100%{
            opacity:(1);
            transform: translatey(5px);
            
        }
     }
    animation: animation-menu 200ms ease-in;
    animation-delay: 0.2s;
    animation-fill-mode: forwards;
   
}
@mixin animation-li2
{ 
    @keyframes animation-menu{
        0% {opacity:(0);
            transform: translateY(0);
           
        }

        100%{
            opacity:(1);
            transform: translateY(-5px);

        }
     }
    animation: animation-menu 250ms ease-in;
    animation-delay: 0.5s;
    
    animation-fill-mode: forwards;
}


@mixin animation-li3
{ 
    @keyframes animation-menu{
        0% {opacity:(0);
            transform: translateY(0);
           
        }

        100%{
            opacity:(1);
            transform: translateY(-5px);

        }
     }
    animation: animation-menu 500ms ease-in;
    animation-delay: 1s;
    animation-fill-mode: forwards;
}

@mixin animation-li4
{ 
    @keyframes animation-menu{
        0% {opacity:(0);
            transform: translateY(0);
           
        }

        100%{
            opacity:(1);
            transform: translateY(-5px);

        }
     }
    animation: animation-menu 500ms ease-in;
    animation-delay: 2s;
    animation-fill-mode: forwards;
}




// Animation concernant le Loading spinner

@mixin fin-loader
{
    @keyframes fin-loader{
        0%{
            visibility: visible;
        }

        100%{
            visibility: hidden;
        }
    }
    animation:fin-loader 3s forwards ;
      // ajouter 3s forwards pour remettre le loader
    
}




@mixin loader-circle1
{
    @keyframes loader-circle1
    {
        0%{
            border-style:solid double;
        }

        20%{
           
            border-style:double dashed;
            
        }

        40%{
            
            border-style:dotted double;
            
        }

        60%{
            
            border-style:solid double;
            
        }

        80%{
            
           
                border-style:double dashed;
        
        }

        100%{
            border-style:dotted double;
        }
    }
    animation: loader-circle1 1s ease-in infinite forwards;
}


// animation concernant les icones dans le cercle rose

// @mixin loader-icon1
// {
//     @keyframes loader-icon1
//     {
//         0%{
//             content:"\f5ce";
//             font-size:100px;
//         }

//         20%{
//             content:"\f4e3";
//             font-size:130px;
//         }

//         40%{
//             content:"\f5ce";
//             font-size:100px;
//         }

//         60%{
//             content:"\f4e3";
//             font-size:130px;
//         }

//         100%{
//             visibility: hidden;  
//         }
//     }
//     animation: loader-icon1 1s ease-in;
//     animation-duration:1.5s;
// }



// Animation cercle jaune et text ohmyfood


@mixin marque{
    @keyframes marque {
     0%{ content:"";
         visibility: hidden;
         
         }
        
        90%{
            content:"Ohmyfood";
            visibility: visible;
            position: relative;
            top:-25vw;
           
        }

        100%{
            
            visibility:hidden;
            position: relative;
            top:-25vw;
            
           
        }
        
    }
    animation:marque 1s ease-in-out forwards;
    animation-duration:2.8s;
}

@mixin marque1{
    @keyframes marque1 {
     0%{ content:"";
         visibility: hidden;
        
         }
        
        90%{
            content:"Ohmyfood";
            visibility: visible;
            position: relative;
        }

        100%{
            
            visibility:hidden;
            position: relative;
        }
        
    }
    animation:marque1 1s ease-in-out forwards;
    animation-duration:2.8s;
}


@mixin marque2{
    @keyframes marque2 {
     0%{ content:"";
         visibility: hidden;
        top:-30vw;
         }
        
        90%{
            content:"Ohmyfood";
            visibility: visible;
            position: relative;
            top:-25vw;
           
        }

        100%{
            
            visibility:hidden;
            position: relative;
            top:-25vw;
            // font-size:13vw;
            // left:2.5vw;
           
        }
        
    }
    animation:marque2 1s ease-in-out forwards;
    animation-duration:2.8s;

    @include breakpoint-anim.break-anim($break-min:1024px){
        @keyframes marque2 {
            0%{ content:"";
                visibility: hidden;
              top:-22vw;
                }
               
               90%{
                   content:"Ohmyfood";
                   visibility: visible;
                   position: relative;
                   top:-24vw;
                  
               }
       
               100%{
                   
                   visibility:hidden;
                   position: relative;
                   top:-24vw;
                   font-size:14vw;
                  
                  
               }
               
           }
           animation:marque2 1s ease-in-out forwards;
           animation-duration:2.8s;
    }
    
    @include breakpoint-anim.break-anim($break-min:1152px){
        @keyframes marque2 {
            0%{ content:"";
                visibility: hidden;
              top:-10vw;
                }
               
               90%{
                   content:"Ohmyfood";
                   visibility: visible;
                   position: relative;
                   top:-14vw;
                  
               }
       
               100%{
                   
                   visibility:hidden;
                   position: relative;
                   top:-14vw;
                   font-size:14vw;
                  
                  
               }
               
           }
           animation:marque2 1s ease-in-out forwards;
           animation-duration:2.8s;
    }

    @include breakpoint-anim.break-anim($break-min:1440px){
        @keyframes marque2 {
            0%{ content:"";
                visibility: hidden;
               top:-17vw;
                }
               
               90%{
                   content:"Ohmyfood";
                   visibility: visible;
                   position: relative;
                   top:-16vw;
                  
               }
       
               100%{
                   
                   visibility:hidden;
                   position: relative;
                   top:-16vw;
                   
                  
                  
               }
               
           }
           animation:marque2 1s ease-in-out forwards;
           animation-duration:2.8s;
    }

    @include breakpoint-anim.break-anim($break-min:1600px){
        @keyframes marque2 {
            0%{ content:"";
                visibility: hidden;
               top:-11vw;
                }
               
               90%{
                   content:"Ohmyfood";
                   visibility: visible;
                   position: relative;
                   top:-12vw;
                  
               }
       
               100%{
                   
                   visibility:hidden;
                   position: relative;
                   top:-12vw;
                   
                  
                  
               }
               
           }
           animation:marque2 1s ease-in-out forwards;
           animation-duration:2.8s;
    }

    @include breakpoint-anim.break-anim($break-min:1920px){
        @keyframes marque2 {
            0%{ content:"";
                visibility: hidden;
               top:-10vw;
                }
               
               90%{
                   content:"Ohmyfood";
                   visibility: visible;
                   position: relative;
                   top:-12vw;
                  
               }
       
               100%{
                   
                   visibility:hidden;
                   position: relative;
                   top:-12vw;
                   
                  
                  
               }
               
           }
           animation:marque2 1s ease-in-out forwards;
           animation-duration:2.8s;
    }
}




@mixin loader-circle2
{
    @keyframes loader-circle2 {
        0%{
            visibility:hidden;
            position: relative;
            top:-5vw;
           
        }
        90%{
            visibility: visible;
            position: relative;
            top:-38vw;
            
        }

        100%{
            visibility:hidden;
            position: relative;
            top:-38vw;
            
        }
        
    }
    animation: loader-circle2 1s ease-in-out forwards;
    animation-duration:2.8s;

}




@mixin break-circle2
{
    @keyframes break-circle2 {
        0%{
            visibility:hidden;
            position: relative;
            top:-5vw;
           
        }
        90%{
            visibility: visible;
            position: relative;
            top:-25vw;
            
        }

        100%{
            visibility:hidden;
            position: relative;
            top:-25vw;
            
        }
    }
    
    animation: break-circle2 1s ease-in-out forwards;
    animation-duration:2.8s;
    @include breakpoint-anim.break-anim($break-min:1152px){
        @keyframes break-circle2 {
          0%{
              visibility:hidden;
              position: relative;
              top:-1vw;
             
          }
          90%{
              visibility: visible;
              position: relative;
              top:-17vw;
              
          }
  
          100%{
              visibility:hidden;
              position: relative;
              top:-17vw;
              
          }
      }
      
      animation: break-circle2 1s ease-in-out forwards;
      animation-duration:2.8s;  
      }
    @include breakpoint-anim.break-anim($break-min:1440px){
      @keyframes break-circle2 {
        0%{
            visibility:hidden;
            position: relative;
            top:-1vw;
           
        }
        90%{
            visibility: visible;
            position: relative;
            top:-17vw;
            
        }

        100%{
            visibility:hidden;
            position: relative;
            top:-17vw;
            
        }
    }
    
    animation: break-circle2 1s ease-in-out forwards;
    animation-duration:2.8s;  
    }

    @include breakpoint-anim.break-anim($break-min:1600px){
        @keyframes break-circle2 {
          0%{
              visibility:hidden;
              position: relative;
              top:-5vw;
             
          }
          90%{
              visibility: visible;
              position: relative;
              top:-14vw;
              
          }
  
          100%{
              visibility:hidden;
              position: relative;
              top:-14vw;
              
          }
      }
      
      animation: break-circle2 1s ease-in-out forwards;
      animation-duration:2.8s;  
      }

}

@mixin break-circle3{
        @keyframes break-circle3 {
          0%{
              visibility:hidden;
              position: relative;
              top:-3vw;
             
          }
          90%{
              visibility: visible;
              position: relative;
              top:-10vw;
              
          }
  
          100%{
              visibility:hidden;
              position: relative;
              top:-10vw;
              
          }
      }
      
      animation: break-circle2 1s ease-in-out forwards;
      animation-duration:2.8s;  
      }
