@use "../utils/breakpoint-mob";
@use "../utils/mixin-menu";

@media screen and (max-width:374px){
    html{
        font-size:88%;
    }
    body{
        width: 100%;
    }

    #header_menu{
        a{
            .fa-arrow-left{
               top:-3vw;
               @include breakpoint-mob.breakpoint($break:280px){
                top:-5vw;
               }
            }
        }
    }

    .menu{
        padding: 5px;;
        h1{
            font-size:20px;
            position: relative;
            bottom:5px; 
        }

        div.heart_menu{
            &.coeur{
            position: relative;
            top:-11.5vw;
            left:85vw;
            & .fa-2x{
                font-size:1.4rem;
                position:relative;
                
                @include breakpoint-mob.breakpoint($break:280px){
                    left:-1vw;
                }
                @include breakpoint-mob.breakpoint-min($break-min:353px){
                    top:1vw;
                }
                @include breakpoint-mob.breakpoint-min($break-min:360px){
                    top:2vw;
                }
                
            }
        }
        } 
    
        .line{
            width: 12vw;
            font-size: 14px;
        }    

        div.desktop{
            position: relative;
            top:-10vw;
        }

        li{
           div{
            
            h3{
                @include breakpoint-mob.breakpoint($break:280px){
                    font-size:0.9rem;
                }
            }
            p{
                @include breakpoint-mob.breakpoint($break:280px){
                    font-size:0.8rem;
                }
            }
           }

        .prix_hover{
           
            &::after{
                content:"";
                @include mixin-menu.fond-icon{
                    display:none;
                }
            }
            .prix{
                @include mixin-menu.prix{
                position: relative;
                top:8.5vw;
                right:35vw;  
                }
                   
               @include breakpoint-mob.breakpoint($break:280px){
                font-size:0.6rem;
                position: relative;
                right:40vw;
               }
               @include breakpoint-mob.breakpoint-min($break-min:345px){
                right:32vw;
               }
               @include breakpoint-mob.breakpoint-min($break-min:353px){
                top:9vw;
                right:32vw;
               }
            }
            }

            &:hover{
                .prix_hover{
                    
                 &::after{
                    content:"";
                    @include mixin-menu.fond-icon{
                    display:flex;
                    left:44vw;

                        @include breakpoint-mob.breakpoint($break:280px){
                        left:40vw;
                        }
                        @include breakpoint-mob.breakpoint-min($break-min:334px){
                        left:46vw;
                           }
                        @include breakpoint-mob.breakpoint-min($break-min:353px){
                        left:48vw;
                        }
                           
                        }
                    }
                    
                    .prix2{
                        top:-16.5vw; 
                        left:-49vw;
                        @include breakpoint-mob.breakpoint($break:280px){
                            font-size:0.6rem;
                            left:-54vw;
                           }
                        @include breakpoint-mob.breakpoint-min($break-min:353px){
                            top:-16.6vw;
                            left:-46vw;
                        }
                     } 
                    
                    
                    .fa-circle-check{
                    left:-1vw;
                    top:-21vw;
                    @include breakpoint-mob.breakpoint($break:280px){
                        font-size:1rem;
                        left:-5vw;
                        top:-20vw;
                    }
                    @include breakpoint-mob.breakpoint-min($break-min:330px){
                        left:0vw;
                        top:-21vw;
                    }
                    @include breakpoint-mob.breakpoint-min($break-min:353px){
                        font-size: 1.2rem;
                        left:2.5vw;
                        top:-19.8vw;
                    }

                    }
                }
               }
   
        }

        .btn{
            @include breakpoint-mob.breakpoint($break:280px){
                  font-size:13px;
            }
          
        }
    }

    footer{
        .largeur_footer2{
            h2{
                font-size:1.5rem;
            }
           a {
            &.icon_footer{
                i{
                    font-size: 1rem;
                }
                p{
                    font-size: 1rem;
                }
            }
           }
        }
    }
    
}




// **********************Meqia query 425px**********************************





@media screen and (min-width:425px) and (max-width:767px)
{
    html{
        font-size:105%;
    }
    body{
        width: 100%;
    }
    
    #header_menu
    {
        & img{
            height: 14vw;
        }
    }
    .imgresto{
        @include breakpoint-mob.breakpoint-min($break-min:480px){
            margin-top:1vw;
            }
        @include breakpoint-mob.breakpoint-min($break-min:520px){
            margin-top:2vw;
            }
        @include breakpoint-mob.breakpoint-min($break-min:568px){
            margin-top:3vw;
            }
            
    }

    #main_menu{
       .menu{ 
        @include breakpoint-mob.breakpoint-min($break-min:480px){
        display: flex;
        align-self: center;
        padding-left:3vw;
       }
        h1 {
            display: flex;
            width: 80%;
            padding-top:35px;
            position: relative;
            left: 2vw;
            @include breakpoint-mob.breakpoint-min($break-min:480px){
                font-size:1.7rem;
            }
            @include breakpoint-mob.breakpoint-min($break-min:520px){
                font-size:2rem;
            }
            @include breakpoint-mob.breakpoint-min($break-min:640px){
                font-size:2.1rem;
            }
        }
        div.heart_menu{
            font-size: 1.5rem;
            position: relative;
            top:-9.4vw; 
            & .fa-2x{
            @include breakpoint-mob.breakpoint-min($break-min:460px){
                font-size: 1.7rem;
                top:0vw;
            }
            @include breakpoint-mob.breakpoint-min($break-min:480px){
                font-size: 1.7rem;
                top:0.5vw;
            }
            @include breakpoint-mob.breakpoint-min($break-min:520px){
                top:1vw;
            }
            @include breakpoint-mob.breakpoint-min($break-min:568px){
                font-size:2.3rem;
                top:2.6vw;
                left:-0.5vw
            }
            }
            
        }

        .desktop{
            position: relative;
            top:-0.8vw;
            
            h2{
            &.line{
            width: 12vw;
            }  
            }
            div{
                 
                li {
                    height:15vw;
                }
                h3,p{
                    top:1.8vw;
                }

                h3{
                    font-size:1.1rem;
                    @include breakpoint-mob.breakpoint-min($break-min:475px){
                    font-size:1.3rem;
                 }
                 @include breakpoint-mob.breakpoint-min($break-min:568px){
                    font-size: 1.5rem;
                 }
                 @include breakpoint-mob.breakpoint-min($break-min:636px){
                    font-size: 1.6rem;
                 }
                }

                p, .prix{
                    font-size: 1rem;
                    @include breakpoint-mob.breakpoint-min($break-min:475px){
                    font-size: 1.2rem;
                 }
                 @include breakpoint-mob.breakpoint-min($break-min:568px){
                    font-size: 1.4rem;
                 }
                 @include breakpoint-mob.breakpoint-min($break-min:600px){
                    font-size:1.5rem;
                 }
                 @include breakpoint-mob.breakpoint-min($break-min:636px){
                    font-size:1.6rem;
                 }
                }
                    


                &.prix_hover{
                  
                    left:3%;
                    top:-11.5vw;

                    @include breakpoint-mob.breakpoint-min($break-min:480px){
                        left:7%;
                    }
                    @include breakpoint-mob.breakpoint-min($break-min:520px){
                        left:7.5%;
                    }
                    @include breakpoint-mob.breakpoint-min($break-min:550px){
                        left:8.5%;
                    }
                    @include breakpoint-mob.breakpoint-min($break-min:550px){
                        left:9.5%;
                    }
                    @include breakpoint-mob.breakpoint-min($break-min:580px){
                        left:10%;
                    }
                    @include breakpoint-mob.breakpoint-min($break-min:600px){
                        left:11%;
                    }
                    @include breakpoint-mob.breakpoint-min($break-min:700px){
                        left:12%;
                    }
         

                    .fa-circle-check{
                        font-size: 1.2rem;
                        @include breakpoint-mob.breakpoint-min($break-min:474px){
                            font-size: 1.3rem;
                        }
                        @include breakpoint-mob.breakpoint-min($break-min:550px){
                            left:3.5vw;
                            top:-19.5vw;
                        }
                        @include breakpoint-mob.breakpoint-min($break-min:578px){
                            font-size: 1.5rem;
                        }
                        @include breakpoint-mob.breakpoint-min($break-min:630px){
                            top:-20vw;
                            left:5vw;
                        }
                        @include breakpoint-mob.breakpoint-min($break-min:727px){
                            font-size: 1.7rem;
                            top:-20vw;
                            left:5vw;
                        }
                    }
                }


            }

          
        }

       
               
      
      .btn{
        font-size:1.5rem;
        width: 50%;
        margin-top:6vw;
        @include breakpoint-mob.breakpoint-min($break-min:600px){
            font-size:1.6rem;
        }
        @include breakpoint-mob.breakpoint-min($break-min:700px){
            width:40%;
            font-size:1.7rem;
        }
        
      }  
    }
}
footer{
    .largeur_footer2{
        @include breakpoint-mob.breakpoint-min($break-min:520px){
          height:48vw;
          padding-top:8vw;
        }
        @include breakpoint-mob.breakpoint-min($break-min:568px){
          padding-top:10vw;
        }
        @include breakpoint-mob.breakpoint-min($break-min:640px){
          padding-top:12vw;
        }
        @include breakpoint-mob.breakpoint-min($break-min:700px){
          height:40vw;
        }
 
    }
}

  }

