@use "../layout/header";
@use "../utils/breakpoint-tab";
@use"../utils/mixin-menu";
@use "../utils/breakpoint-desk";






@mixin breakpointtab-menuli{
   
    @include breakpoint-tab.breakpoint-mintab($break-min:822px)
    {
    height:8vw;
    }
    @include breakpoint-tab.breakpoint-mintab($break-min:834px)
    {
    height:8vw;
    }
    @include breakpoint-tab.breakpoint-mintab($break-min:940px)
    {
    height:8vw;
    }


    // ici cela concerne le responsive desktop car impossible de changer 
    // certaines propriétés depuis la feuille depuis le fichier _mediadesktop-menu.scss
    
    @include breakpoint-desk.mediadesktop-min($break-min:1440px){
        height: 7vw;
        padding-left:10px;
        margin-bottom:40px;
        border-radius: 30px;
    }

    @include breakpoint-desk.mediadesktop-min($break-min:2560px){
        padding-left:10px;
        padding-top: 10px;
        margin-bottom:40px;
        border-radius: 30px;
    }
    
    @content;
}



@mixin breakpointtab-prixhover {
    
  
    @include breakpoint-tab.breakpoint-mintab($break-min:890px)
    {
      height:85px;
      position: relative;
      bottom:69px;
    }

    @include breakpoint-tab.breakpoint-mintab($break-min:917px)
    {
      height:85px;
      position: relative;
      bottom:71px;
    }
    
    @include breakpoint-tab.breakpoint-mintab($break-min:940px)
    {
      height:115px;
      position: relative;
      bottom:-10px;
    }

    @include breakpoint-tab.breakpoint-mintab($break-min:952px)
    {
        height:116px;
        position: relative;
        bottom:-12px; 
    }
    
      @include breakpoint-desk.mediadesktop-min($break-min:1024px){
        height:5vw;
    }
   
    
@content;
}


@mixin breakpointtab-fond-icon{
    @include breakpoint-tab.breakpoint-mintab($break-min:829px)
    {
      height:75px;
      position: relative;
      bottom:5%;
    }

    @include breakpoint-tab.breakpoint-mintab($break-min:940px)
    {
      height:88px;
      position: relative;
      bottom:2%;
      margin-left: 10px;
    }


    // ici cela concerne le responsive desktop car impossible de changer 
    // certaines propriétés depuis la feuille depuis le fichier _mediadesktop-menu.scss
    @include breakpoint-desk.mediadesktop-min($break-min:1024px){
        height: 95px;
        top:-3vw;
        
        
    }
    @include breakpoint-desk.mediadesktop-min($break-min:1152px){
        height:10vw;
        top:-2.8vw;
        
    }
    @include breakpoint-desk.mediadesktop-min($break-min:1440px){
       
        // height:135px;
        // position: relative;
        // bottom:20px;
        width:10vw;
        height:13vw;
        top:4vw;
        left:9vw;
        margin-left: 10px;
    }
    @include breakpoint-desk.mediadesktop-min($break-min:1680px){
       
        // height:135px;
        // position: relative;
        // bottom:20px;
        height:14vw;
        top:4vw;
        margin-left: 10px;
    }
    @include breakpoint-desk.mediadesktop-min($break-min:1920px){
       
        height:14vw;
        left:8vw;
        top:4vw;
        margin-left: 10px;
    }

    @include breakpoint-desk.mediadesktop-min($break-min:2560px){
       
        
        height:14vw;
        top:4vw;
        // position: relative;
        // bottom:50px;
        
    }
    @content;
}



@mixin breakpointtab-prixhover2{

    // @include breakpoint-tab.breakpoint-mintab($break-min:940px)
    // {
    //   position: relative;
    //   bottom:84.5px;
      
    // }


    // ici cela concerne le responsive desktop car impossible de changer 
    // certaines propriétés depuis la feuille depuis le fichier _mediadesktop-menu.scss
    @include breakpoint-desk.mediadesktop-min($break-min:1024px){
        position: relative;
        top:-5vw;
        
    }
    @include breakpoint-desk.mediadesktop-min($break-min:1440px){
        position: relative;
        top:-15vw;
    }

    @include breakpoint-desk.mediadesktop-min($break-min:1600px){
        position: relative;
        top:-15vw;
    }

@include breakpoint-desk.mediadesktop-min($break-min:1680px){
        position: relative;
        top:-16vw;
    }
    @include breakpoint-desk.mediadesktop-min($break-min:1920px){
        position: relative;
        top:-16vw;
    }
    @include breakpoint-desk.mediadesktop-min($break-min:2000px){
        position: relative;
        top:-15.8vw;
    }


    @content;
}




@media screen and (min-width:768px)  {
   
        #header_menu{
            width: 100%;
            height: 12vw;
            display: flex;
            flex-direction: row;
            align-items:baseline;
            
                a{
                    width: 20%;
                    height: 70px;
                    

                    .fa-arrow-left{
                        width: 15vw;
                        height: 10vw;
                        font-size:5rem;
                        display: flex;
                        position: relative;
                        bottom:4%;
                    }
                }
                img{
                    width:60vw;
                    height:12vw;
                    padding-bottom: 20px;
                    display: flex;
                    position: relative;
                    top:4vw;
                   

                   
                    @include breakpoint-desk.mediadesktop-min($break-min:1024px){
                        top:2.5vw;
                    }
                    
                    @include breakpoint-desk.mediadesktop-min($break-min:1440px){
                        top:2.4vw;
                    }

                    @include breakpoint-desk.mediadesktop-min($break-min:1536px){
                        top:2vw;
                    }
                }
        }
    .imgresto
{   
   width: 100%;
    height:40vw;
    margin-top: 30px;
    background-color: white;
}

#main_menu{
    margin-bottom:-8vw;
}

     .menu{
         position: relative;
         bottom:8vw;
         border-top-left-radius:8vw;
         border-top-right-radius:8vw;

         h2{
             font-size:18px;
         }
     }   

     .menu h1{
         width:70%;
         font-size:37px;
         padding-left:80px;
         margin-top:0;
       } 

       .menu .line{
        left:0;
       }
       

   .heart_menu{
            
             &.coeur{
                height:0;
                width: 0;
                font-size:3vw;
                position: relative;
                top:-4vw;
                left:87vw;
                @include breakpoint-desk.mediadesktop-min($break-min:1024px){
                    top:-4.8vw; 
                    left:86vw;
                }
                @include breakpoint-desk.mediadesktop-min($break-min:1440px){
                    left:85vw;
                }
             }
         }
   
         
  #main_menu{

    li{ 
        // @include breakpoint-desk.mediadesktop-min($break-min:1400px){
        // margin-bottom:2.5vw;
        // }
        &:hover{
        .prix_hover{
            // bottom:74px;
            
            @include mixin-menu.prix-hover{
                @include breakpointtab-prixhover2;

            }
    
            &::after{
            content:"";
            @include mixin-menu.fond-icon;
           @include breakpointtab-fond-icon;
              }
        }
        }
        }

 div .menu-row{
    width:93vw;
    margin:20px;
    margin-top:3vw;
    display: flex;
    align-items: baseline;
    flex-direction: row;
    flex-grow: 1;
    position: relative;
    left:10px;

.menu-entrees,.menu-plats{
    width:47%;
    margin:10px;
    margin-right:1vw;
    
   ul li{
    width:90%;
    height:9vw;
  
    @include breakpointtab-menuli;
    @include breakpoint-desk.mediadesktop-min($break-min:1024px){
       
        width: 93%;
    }
    @include breakpoint-desk.mediadesktop-min($break-min:1152px){
       
        height:7.5vw;
        width: 94%;
    }
     @include breakpoint-desk.mediadesktop-min($break-min:1280px){
       
        height:6.5vw;
        
    }
    @include breakpoint-desk.mediadesktop-min($break-min:1400px){
       
        height:6.3vw;
        
    }
    @include breakpoint-desk.mediadesktop-min($break-min:1440px){
        height: 7vw;
        width: 95%;
    }


    & h3, p{
        font-size:1.8vw;
        
    }
    .prix{
        font-size: 1.8vw;
        @include breakpointtab-prixhover;
    }
    .prix_hover{
        
        position: relative;
        // bottom:70px;
        @include breakpointtab-prixhover2;
    }
   }

   
}
}


.menu-desserts{
    width:47%;
    margin:10px;
    position: relative;
    left:30px;
    
    ul li{
        width:85%;
        height:9vw;
    @include breakpointtab-menuli;
    @include breakpoint-desk.mediadesktop-min($break-min:1152px){
       
        height:7.5vw;
        width: 89%;
    }
    @include breakpoint-desk.mediadesktop-min($break-min:1280px){
       
        height:6.5vw;
        
    }
    @include breakpoint-desk.mediadesktop-min($break-min:1400px){
       
        height:6.3vw;
        
    }
    @include breakpoint-desk.mediadesktop-min($break-min:1440px){
        height: 7vw;
        width: 90%;
       
 
    }
    


        & h3, p{
            font-size:1.8vw;
        }
        .prix{
            font-size: 1.8vw;
            @include breakpointtab-prixhover;
          
        }
        .prix_hover{
           
            position: relative;
            // bottom:70px;
            @include breakpointtab-prixhover2;
        }
        
        }

     }

     
  }  



  .btn{
      width:30%;
      height: 7vw;
      font-size:2.5vw;
      position: relative;
      left:180px;
      bottom:196px;
      margin-bottom:0vw;
      
      @include breakpoint-desk.mediadesktop-min($break-min:1024px){
        height: 6vw;
        position: relative;
        left:21vw;
        bottom:22vw;
      }
      @include breakpoint-desk.mediadesktop-min($break-min:1440px){
        height: 5vw;
        position: relative;
        bottom:20vw;
      }
      @include breakpoint-desk.mediadesktop-min($break-min:1441px){
        width: 27%;
        height: 5vw;
        border-radius:3vw;
        position: relative;
        bottom:17vw;
      }
  }
}



// *********************************************************
