@use "../layout/header";
@use "../utils/mixin-heart";
@use"../utils/mixin-menu";
@use "../utils/breakpoint-tab";
@use "../utils/breakpoint-desk";



@media screen and (min-width:768px)  {
    html{
        font-size:85%;
    }
    body{
        width: 100%;
    }
        #header_menu{
            height: 14.5vw;
            display: flex;
            flex-direction: row;
            align-items:baseline;
           
               & a{
                    width: 20%;
                    height:10vw;
                
                    & .fa-arrow-left{
                        width:9vw;
                        font-size: 4rem;
                        display: flex;
                        position: relative;
                        top: 1vw;
                        left: 3vw;
                    }
                
                  
                }
                & img{
                    width: 55vw;
                    height: 10vw;
                    position: relative;
                    top: 4vw;
                    left: 5vw;
                    
                }
        }

.imgresto
{   
   width:100%;
    height:30vw;
    margin-top:3vw;
    background-color: white;
    object-fit:cover;
}


  #main_menu{
    margin-bottom:-8vw;
   

    .menu{
        position: relative;
        bottom:8vw;
        border-top-left-radius:8vw;
        border-top-right-radius:8vw;
        padding:0;
        
        @include breakpoint-desk.mediadesktop-min($break-min:991px){
        display: flex;
        padding-left:2vw;
        
    }
        h1{
           width:70%;
           font-size:2.9rem;
           padding-left:8vw;
           margin-top:0;
           display: flex;     
           }
        
      
        div.heart_menu{
           height:0;
           width: 0;
           position: relative;
           top:-4vw;
           left:87vw;
          
           @include breakpoint-desk.mediadesktop-min($break-min:991px){
            left:42vw;
           }
           
           & .fa-2x{
            font-size: 2.9rem;
            position: relative;
            left:5vw;

            @include breakpoint-tab.breakpoint-mintab($break-min:800px){
                left:4vw;
               }
               @include breakpoint-tab.breakpoint-mintab($break-min:900px){
               top:0.5vw;
               } 
               @include breakpoint-tab.breakpoint-mintab($break-min:991px){
                left:48vw;
               } 
           }

           }
        .desktop{
            position: relative;
            top:1vw;
        }

        h2{
           font-size:1.8rem;

           .line{
           width:6vw;
           left:0;
               }
        }    
    }   


 div .menu-row{
    width:93vw;
    margin:20px;
    margin-top:3vw;
    display: flex;
    align-items: baseline;
    flex-direction: row;
    flex-grow: 1;
    position: relative;
    left:10px;


.menu-entrees,.menu-plats{
    width:47%;
    margin:10px;
    margin-right:1vw;
   
   ul li{
    width:95%;
    height:8.5vw;
    margin-bottom:2vw;
    @include breakpoint-tab.breakpoint-mintab($break-min:900px){
        height:8vw;
    }
    
}
}

.menu-plats{
    position: relative;
    left:-1.5vw;
    
       @include breakpoint-tab.breakpoint-mintab($break-min:768px){
        @include breakpoint-tab.breakpoint-maxtab($break-max:1023px){
                left:1.5vw; 
        }
   
        }
  

}
}

// concerne la liste désert qui est indépendant des entrées et plats
.menu-desserts{
    width:46%;
    margin:10px;
    position: relative;
    left:3.4vw;
  

    ul li{
        width:90%;
        height:8.5vw;
        margin-bottom:2vw;
        @include breakpoint-tab.breakpoint-mintab($break-min:900px){
            height:8vw;
        }
    }
}

.menu_hover{
    h3,p{
        top:1.5vw;
        left:-1.2vw;
        font-size:1.1rem;
        @include breakpoint-tab.breakpoint-mintab($break-min:864px){
            font-size: 1.2rem;
        }
        @include breakpoint-tab.breakpoint-mintab($break-min:957px){
            font-size: 1.3rem;
        }
       
       
        
    }
} 

div.prix_hover{
    
    left:1%;
    top:-11.5vw; 
    @include breakpoint-tab.breakpoint-mintab($break-min:864px){
        left:4%;
    }
    @include breakpoint-tab.breakpoint-mintab($break-min:950px){
        left:6%;
    }
    @include breakpoint-tab.breakpoint-mintab($break-min:957px){
        left:7%;
    }
    

   
    .fa-circle-check{
        font-size:1.2rem;
        top:-19.5vw;
        left:-1.5vw;
        @include breakpoint-tab.breakpoint-mintab($break-min:957px){
            font-size:1.4rem;
        }
    }
}



} 



// Travail sur le bouton commencer (voir dans composant bouton.scss si besoin)
  .btn{
      width:30%;
      height: 7vw;
      position: relative;
      left:26vw;
      bottom:26vw;
      margin-bottom:0vw;
      @include breakpoint-tab.breakpoint-mintab($break-min:800px){
        left:24vw;
        bottom:24vw;
    }
    @include breakpoint-tab.breakpoint-mintab($break-min:950px){
        left:22vw;
        bottom:22vw;
    }
  }


  footer{
   .largeur_footer2{
    display: flex;
    flex-direction: column;
    height:33vw;
    padding-top:5vw;
      
        
        @include breakpoint-tab.breakpoint-mintab($break-min:900px){
        height:28vw;
        padding-top:4vw;
        }

        h2{
            font-size:2.1rem;
        }
        a{
            &.icon_footer{
                i{
                    font-size:1.5rem;
                }
                p{
                    font-size:1.5rem;
                }
            }
        }
    }
}
}



