@use "../utils/mixin-fonctionnement";
@use "../utils/mixin-heart";
@use "../utils/breakpoint-desk";
@use"../utils/breakpoint-mob";



// mediaquery pour les desktop à partir de 1024px
// cependant le breakpoint-desk a été ajouté directement
// dans les fichiers heart.scss, mediadesktop-menu.scss
// mixin-menu.scss, mixin-fonctionnement.scss et 
// mediaquerytab-accueil.scss car il était impossible
// de modifier les données dans ce fichier.

@media screen and (min-width:1024px)
{
    #apropos
    { 
        position: relative;
        top:1vw;
        
        
    }
    #tuto{
        
        
        position: relative;
        top:0;   
        
      li{
        height:7.6vw;
        &::before{
            @include mixin-fonctionnement.li-counter{
                width: 2vw;
                height: 2vw;
                @include breakpoint-desk.mediadesk-min($break-mi:1152px){
                    width: 3vw;
                    height: 3vw;
                }
            }
                
            }
      
        }
      }
    }
#resto{

    .resto_fond{
        height: 18vw;
        position: relative;
        bottom:0vw;
        @include breakpoint-desk.mediadesktop-min($break-min:768px){
            height:10vw;}
    }

    .resto1, .resto2, .resto3, .resto4{
        margin:0;
        margin-bottom:7.5vw;
        
        @include breakpoint-mob.mob320{
            margin-bottom:2vw;
        }
        @include breakpoint-mob.mob425{
            margin-bottom:25vw;
        }
        @include breakpoint-desk.mediadesktop-min($break-min:768px){
            margin-bottom:2vw;}

            @include breakpoint-desk.mediadesktop-min($break-min:1024px){
                margin-bottom:5vw;}    
    
        @include breakpoint-desk.mediadesktop-min($break-min:1072px){
        margin-bottom:4vw;}

        @include breakpoint-desk.mediadesktop-min($break-min:1152px){
            margin-bottom:5.5vw;
        }
        

        

    

     }
}




// **********************************media query 1440px*****

@media screen and (min-width:1440px)
{

    #apropos
    { 
        position: relative;
        top:1.5vw;
        
        
    }
    #tuto{
        
        
        position: relative;
        top:0vw; 
        left:2vw;  
        li{
            height:7.6vw;
            &::before{
                @include mixin-fonctionnement.li-counter{
                    width: 3vw;
                    height: 3vw;
                }
          
            }
          }
       
    }

    #resto{
       
        position: relative;
        left:1vw;
        h2{
            margin-top:-1%;
            margin-bottom:1%;
        }
   

        img{
            width:94%;
            height:280px;
            
        }
        .resto_fond{
            height:9vw;
            position: relative;
            bottom:0vw;
        }

        .resto1, .resto2, .resto3, .resto4{
            margin:0;
            margin-bottom:9vw;
           
         }
        
    }

}

// **********************************media query pour desktop min 1441px*****

@media screen and (min-width:1441px)
{
    .row-tab{
        width:90%; 
        position: relative;
        left:6vw;
        
    }

    #apropos
    { 
        position: relative;
        top:2vw;
    }
   
    #tuto{
        
        position: relative;
        top:0vw; 
        left:2vw; 
        
        li{
            height:7.2vw;
            &::before{
                @include mixin-fonctionnement.li-counter{
                    width: 2.8vw;
                    height: 2.8vw;
                    border-radius: 9vw;
                    position: relative;
                    left:-1.5vw;
                }
          
            }
            
          }
    }

    #resto{
        position: relative;
        left:1.6vw;
        h2{
            margin-top:-2%;
            margin-bottom:2%;
        }
   

        img{
            width:93%;
            height:480px;
            @include breakpoint-desk.mediadesktop-min($break-min:1600px){
                height:460px;
            }
            
        }
        .resto_fond{
            height: 7.5vw;
            position: relative;
            bottom:0vw;
            @include breakpoint-desk.mediadesktop-min($break-min:1600px){
                height:9vw;
            }
        }

        .resto1, .resto2, .resto3, .resto4{
            margin:0;
            margin-bottom:425px;
   
            @include breakpoint-desk.mediadesktop-min($break-min:1600px){
            margin-bottom:21vw;
            }

            @include breakpoint-desk.mediadesktop-min($break-min:1920px){
                margin-bottom:18vw;
                   }

        

         }
        
    }
    
    footer {
        .largeur_footer{
            padding-left: 2vw;
            h2{
                font-size:2vw;
                padding-top: 1vw;
                padding-bottom: 1vw;
            }
        }
    }
}