@use "../utils/mixin-header";
@use "../utils/variables";
@use "../utils/mixin-fonctionnement";
@use "../utils/breakpoint-tab";
@use "../composant/box-shadow";
@use "../utils/breakpoint-desk";
@use "../utils/breakpoint-mob";


// mediaquery pour les tablettes à partir de 768px
// cependant le breakpoint-tab a été ajouté directement
// dans les fichiers mixin-fonctionnement.scss, 
// mediaquerytab-menu.scss et mediaquerytab-accueil.scss
// car il était impossible de modifier les données dans ce fichier.


@media screen and (min-width:768px) {
   
   
    #header_accueil{
        
        display: flex;
        @include mixin-header.header{
            height:12vw;
            margin-top:30px;
            margin-bottom:80px;
        }

        .div_img{
            width: 90%;
            height:150px;
            border-bottom:none;
            box-shadow:none;
            
            img{
                width:70vw;
               
                padding:30px;
                margin-top: 30px;
                margin-bottom: 30px;
                object-fit: cover;
                
            }
        }
    }

  .row-tab {
      width:96%; 
      height:auto;
      display: flex;
      margin:0;
      padding:0;
      margin-bottom:10vw;
      flex-direction:row;
      align-items: baseline;
      flex-grow: 1;
      position: relative;
      left:2vw;
      top:5vw;
    }

  #apropos
  { 
      width: 45%;
      height: 40%;
      border-radius: 30px;
      overflow: hidden;
      margin-left:20px;
      @include box-shadow.shadow;
      
  }

#apropos .localisation
{ & .belleville{
     font-size: 2vw;
} 
}

.fond-colo{ 
    
    & h1{
        font-size:2.2vw;
    }
    & p{
        text-align:center;
        font-size:2vw;
    }

    & button {
        width: 80%;
        font-size: 2vw;
    }
}


  #tuto
  { 
      width:55%;
      display: flex;
      margin:0;
      padding: 0;
      position: relative;
      left:0.5vw;
      top:0;
      h2{
          font-size: 4vw;
          display: flex;
          position: relative;
          left:5%;
          bottom:10px; 
      }

      li {
        height:7vw;
        font-size: 2vw; 
        border-radius:2vw;
        &::before{
            @include mixin-fonctionnement.li-counter{
                width: 3vw;
                height: 3vw;
            }
          
      
        }
        
        & i{ @include mixin-fonctionnement.tuto-icon
         {
            width: 1%;
            padding-right:5px;
            position: relative;
            left:-10px;
        
         }
      }
      }

     
    
  }
    
#resto{ 
   width: 95%;
   height: auto;
   margin: 20px;
   margin-top:60px;
   margin-bottom:60px;
   padding-bottom: 20px;
   display: flex;
  flex-direction: column;
  align-self: center;
  justify-self: center;
   border-radius: 30px;
   @include box-shadow.shadow;
  
  
   & h2{
       font-size: 4vw;
       text-align: center;
       position: relative;
       bottom:30px;
   }

   img { 
   width:95%;
   height: 250px;
   display: flex;
   align-items: baseline;
   justify-items: baseline;
   object-fit: cover;
   @include breakpoint-desk.mediadesktop-min($break-min:1440px){
    border-top-left-radius: 2vw;
    border-top-right-radius: 2vw;
}
   }

   .new::before{ 
       width:30%;
       height: 1.8rem;
       font-size:2.5vw;
       position: absolute;
       left:28vw;
   }

   .resto_fond{
       width:90%;
       height: 80px;
       @include breakpoint-desk.mediadesktop-min($break-min:1024px){
        width:91%;
    }
    @include breakpoint-desk.mediadesktop-min($break-min:1072px){
        width:92%;
        height:8.5vw;
    }
    @include breakpoint-desk.mediadesktop-min($break-min:1440px){
        width:91%;
        border-bottom-left-radius: 2vw;
        border-bottom-right-radius: 2vw;
    }
      
       & h3, p{
           font-size:2.5vw;
       }
   }

   .resto-row1{
       width: 100%;
       display: flex;
       flex-direction: row;
       align-items: flex-start;
       flex-grow: 1;
       margin:10px;
   }

   .resto-row2{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-grow: 1;
    margin:10px;
   padding-bottom: 30px;
    
    
}

.resto1, .resto2, .resto3, .resto4{
   margin:0;
   margin-bottom:2.8vw;
   
}

}

div .coeur{
    position: relative; 
    top:-15.4vw;
    left:41vw;
    
    @include breakpoint-desk.mediadesk-min($break-mi:1024px){
            
        font-size: 1.2rem; 
        top:-13.5vw; 
        
        }

        @include breakpoint-desk.mediadesk-min($break-mi:1152px){
            
            font-size:1.4rem;
            position: relative;
            top:-12.5vw;
           
                
            }
            
        @include breakpoint-desk.mediadesk-min($break-mi:1440px){
            font-size:1.8rem;
            position: relative;
            top:-10.5vw;
           
            
        }
        @include breakpoint-desk.mediadesk-min($break-mi:1600px){
            font-size:2rem;
            position: relative;
            top:-10.5vw;
        }
        @include breakpoint-desk.mediadesk-min($break-mi:1920px){
            font-size:2.4rem;
            position: relative;
            left:40vw;
            top:-10vw;
        }
        @include breakpoint-desk.mediadesk-min($break-mi:2559px){
            font-size:2.6rem;
            position: relative;
            left:42vw;
            top:-9.5vw;
        }
            
}

footer {
   width:100%;
    .largeur_footer{ 
        height: 270px;
        padding-bottom:20px;
        @include breakpoint-desk.mediadesk-min($break-mi:1441px){
            height:16vw;
        }
        h2{
            width: 70%;
            font-size:30px;
        }
        
        a {
            &.icon_footer{
                i{
                    font-size:22px;
                    @include breakpoint-desk.mediadesk-min($break-mi:1441px){
                        font-size: 1.8vw;
                        margin-right: 1vw;
                    }

                }
                p{
                    font-size: 22px; 
                    @include breakpoint-desk.mediadesk-min($break-mi:1441px){
                        font-size: 1.8vw;
                        
                    }
                }
            }
        }
    }
    
}

}