@use "../utils/mixin-header";
@use "../utils/variables";
@use "../utils/mixin-fonctionnement";
@use "../utils/breakpoint-tab";
@use "../composant/box-shadow";


@media screen and (min-width:768px){
   
    body{
        width: 100%;
    }
   
    #header_accueil{
        
        display: flex;
        @include mixin-header.header{
            height:9vw;
            padding-top:30px;
           
        }

        .div_img{
            width: 90%;
            height:150px;
            border-bottom:none;
            box-shadow:none;
            
            img{
                width:60vw;
                padding:30px;
                margin-top: 30px; 
                @include breakpoint-tab.breakpoint-mintab($break-min:960px){
                    width:55vw; 
                }
            }
        }
    }

  .row-tab {
      width:92%; 
      height:auto;
      display: flex;
      margin:0;
      padding:0;
      margin-top: 5vw;
      margin-bottom:5vw;
      flex-direction:row;
      align-items: baseline;
      flex-grow: 1;
      position: relative;
      left:5vw;
      top:5vw;
    }

  #apropos
  { 
      width:40%;
      height: 40%;
      border-radius: 30px;
      overflow: hidden;
      margin-left:20px;
      position: relative;
      left:4vw;
      bottom:2vw;
      @include box-shadow.shadow;
      
  }

#apropos .localisation
{ & .belleville{
     font-size: 14px;
} 
}

.fond-colo{ 
    
    & h1{
        font-size:15px;
        @include breakpoint-tab.breakpoint-mintab($break-min:960px){
            font-size:18px;  
        }
    }
    & p{
        text-align:center;
        font-size:14px;
    }

    & button {
        width: 70%;
        font-size: 13px;
    }
    }


  #tuto
  { 
      width:45%;
      height:35vw;
      display: flex;
      margin:0;
      padding: 0;
      position: relative;
      left:6vw;
      top:-0.5vw;
      @include breakpoint-tab.breakpoint-mintab($break-min:864px){
        left:8vw;
        top:-1.5vw;
      }
      @include breakpoint-tab.breakpoint-mintab($break-min:900px){
        top:-2.5vw;
        left:7vw;
       }
      
      h2{
          font-size:25px;
          display: flex;
          position: relative;
          left:5%;
          bottom:10px; 
          width:83%;
          @include breakpoint-tab.breakpoint-mintab($break-min:864px){
            font-size:29px;
          }
      }

      li {
        width:83%;
        height:7.3vw;
        font-size: 12px; 
        border-radius:2vw;
        position: relative;
        top:-2vw;
        @include breakpoint-tab.breakpoint-mintab($break-min:900px){
            font-size: 14px;
           }
        @include breakpoint-tab.breakpoint-mintab($break-min:960px){
            width:79%;
            height:7vw;
           }


        &::before{
            @include mixin-fonctionnement.li-counter{
                width: 3vw;
                height: 3vw;
                font-size: 11px;
                position: relative;
                right:9.5%;
                @include breakpoint-tab.breakpoint-mintab($break-min:864px){
                    width: 3vw;
                    height: 3vw;  
                }
                
            }
        }
        
        & i{ @include mixin-fonctionnement.tuto-icon
         {
            width: 1%;
            font-size: 1.2rem;
            padding-right:4px;
            padding-left:10px;
            position: relative;
            left:-10px;
        
         }
      }
      }
    
  }

    
#resto{ 
   width: 90%;
   height: auto;
   margin-top:60px;
   margin-bottom:60px;
   padding-bottom: 2vw;
   display: flex;
   flex-direction: column;
   align-self: center;
   justify-self: center;
   border-radius: 30px;
   @include box-shadow.shadow;
   position: relative;
   left:4.5vw;
  
  
   & h2{
       font-size:25px;
       text-align: center;
       position: relative;
       bottom:30px;
       @include breakpoint-tab.breakpoint-mintab($break-min:900px){
        font-size: 29px;  
    }
   }

   img { 
   width:90%;
   height: 25vw;
   display: flex;
   align-items: baseline;
   justify-items: baseline;

   }

   .new::before{ 
       width:30%;
       height: 1.8rem;
       font-size:18px;
       position: absolute;
       left:25vw;
   }

   .resto_fond{
       width:85%;
       height:8vw;
       @include breakpoint-tab.breakpoint-mintab($break-min:864px){
        width: 86%;
          
    }
      
       & h3, p{
           font-size:17px;
       }

       p{
        padding-top:0;
       }
   }

   .resto-row1{
       width: 100%;
       display: flex;
       flex-direction: row;
       align-items: flex-start;
       flex-grow: 1;
        
       @include breakpoint-tab.breakpoint-mintab($break-min:864px){
        margin-bottom:4vw;
       }
       @include breakpoint-tab.breakpoint-mintab($break-min:900px){
        margin-bottom:6vw;
       }
       @include breakpoint-tab.breakpoint-mintab($break-min:960px){
        margin-bottom:8vw;
       }
       @include breakpoint-tab.breakpoint-mintab($break-min:1000px){
        margin-bottom:10vw;
       }
   }
   .resto1, .resto3{
    position: relative;
    left:1vw;
   
   }
   .resto2, .resto4{
    position: relative;
    right:1vw;
   }

   .resto-row2{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-grow: 1;
    padding-bottom: 30px; 
}

.heart_resto {
    position: relative; 
    top:-15vw;
    left:37vw;
   
    @include breakpoint-tab.breakpoint-mintab($break-min:864px){
        top:-14vw;
       }

    @include breakpoint-tab.breakpoint-mintab($break-min:960px){
        top:-13vw;
       }    
}

.resto1, .resto2, .resto3, .resto4{
    margin-bottom:-6vw;
 }

}




footer {
   width:100%;
    .largeur_footer{ 
        height:29vw;
        padding-bottom:20px;
        padding-left:3vw;
        @include breakpoint-tab.breakpoint-mintab($break-min:900px){
            height:28vw;
        }
        @include breakpoint-tab.breakpoint-mintab($break-min:950px){
            height:26vw;
        }
        @include breakpoint-tab.breakpoint-mintab($break-min:960px){
            height:24vw;
        }
       
        h2{
            width: 70%;
            font-size:2.3rem;
        }
        
        a {
            &.icon_footer{
                i{
                    font-size:1.5rem;
                }
                p{
                    font-size:1.5rem; 
                   
                }
            }
        }
    }
    
}

}