@use "../layout/header";
@use "../utils/mixin-heart";
@use"../utils/mixin-menu";
@use "../utils/breakpoint-tab";
@use "../utils/breakpoint-desk";



@media screen and (min-width:768px)  {
    
    body{
        width: 100%;
    }
        #header_menu{
            height: 14.5vw;
            display: flex;
            flex-direction: row;
            align-items:baseline;
            padding-bottom:2vw;
           
               & a{
                    width: 20%;
                    height:15vw;
                    @include breakpoint-tab.breakpoint-mintab($break-min:1024px){
                       padding-bottom: 0;
                    }
                    
              
                    & .fa-arrow-left{
                        width: 15vw;
                        height: 10vw;
                        font-size:5rem;
                        display: flex;
                        position: relative;
                        top:1vw;
                        
                        @include breakpoint-desk.mediadesktop-min($break-min:1024px){
                            font-size: 4rem;
                            position: relative;
                            top:24vw;
                            left: 8vw;
                            z-index: 3;
                        }
                        // @include breakpoint-desk.mediadesktop-min($break-min:1152px){
                        //     font-size:4rem;
                        //     top: 32vw;
                        //     left: 9vw;
                        // }
                        // @include breakpoint-desk.mediadesktop-min($break-min:1920px){
                        //     font-size:8rem;
                        // }
                    }
                
                  
                }
                & img{
                    width:60vw;
                    height:12vw;
                    position: relative;
                    top:4vw;
                    @include breakpoint-desk.mediadesktop-min($break-min:1024px){
                        display: none;
                    }
                    //   @include breakpoint-desk.mediadesktop-min($break-min:1024px){
                    //   width:50vw;
                    //   left: 10vw;
                    // }
                    // @include breakpoint-tab.breakpoint-mintab($break-min:1440px){
                    // width:40vw;
                    // height:10vw;
                    // top:3vw;
                    // left:12vw;
                    // }
                    // @include breakpoint-tab.breakpoint-mintab($break-min:1920px){
                    //     width: 47vw;
                    //     height: 11vw;
                    //     top: 3vw;
                    //     left: 10vw;
                    // }
                }
        }

.imgresto
{   
   width:100%;
    height:30vw;
    margin-top:3vw;
    background-color: white;
    object-fit:cover;
    @include breakpoint-desk.mediadesktop-min($break-min:1024px){
       margin-top:-15vw;
    }
}


  #main_menu{
    margin-bottom:-8vw;
   

    .menu{
        position: relative;
        bottom:8vw;
        border-top-left-radius:8vw;
        border-top-right-radius:8vw;
        @include breakpoint-desk.mediadesktop-min($break-min:991px){
        display: flex;
        align-items: center;
        @include breakpoint-desk.mediadesktop-min($break-min:1280px){
        padding-left: 1.5vw;  
        }
        
    }
        h1{
           width:70%;
           font-size:43px;
           padding-left:80px;
           margin-top:0;
           display: flex;
            @include breakpoint-desk.mediadesktop-min($break-min:991px){
                display: flex;
                position: relative;
                left: 7vw;

                .fa-arrow-left{
                    width:10%;
                    height:4vw;
                    position: relative;
                    left:-2vw; 
                    top:50vw;
                }
               
                 } 
                 @include breakpoint-desk.mediadesktop-min($break-min:1280px){
                    font-size: 55px;
                }
                @include breakpoint-desk.mediadesktop-min($break-min:1440px){
                    font-size:62px;
                }
                @include breakpoint-desk.mediadesktop-min($break-min:1600px){
                    font-size:80px;
                    left:4vw;
                }
                @include breakpoint-desk.mediadesktop-min($break-min:1920px){
                    font-size:89px;
                    left:6vw;
                }
                
           }
        
      
        div.heart_menu{
           height:0;
           width: 0;
           font-size:1.2rem;
           position: relative;
           top:-4vw;
           left:87vw;
           @include breakpoint-desk.mediadesktop-min($break-min:991px){
            left:42vw;
           }
           
           & .fa-2x{
            font-size: 2.8rem;
            position: relative;
            left:2vw;
            @include breakpoint-desk.mediadesktop-min($break-min:1024px){
                font-size:3.4rem;
                left:1vw;
            }
            @include breakpoint-desk.mediadesktop-min($break-min:1152px){
                font-size:3.8rem;
                top:1vw;
             }
            
            @include breakpoint-desk.mediadesktop-min($break-min:1440px){
                font-size:4.8rem;
                top:1vw;
             }
           }
           }
        .desktop{
            padding-top:1vw;
            position: relative;
            top:1vw;
        }

        h2{
           font-size:18px;
           @include breakpoint-tab.breakpoint-mintab($break-min:950px){
            font-size:20px;
           }
           @include breakpoint-desk.mediadesktop-min($break-min:1024px){
            font-size: 21px;
           }
        //    @include breakpoint-desk.mediadesktop-min($break-min:1440px){
        //     font-size:24px;
        //    }
           .line{
           width:6vw;
           left:0;
               }
           
        }

           
    }   


 div .menu-row{
    width:93vw;
    margin:20px;
    margin-top:3vw;
    display: flex;
    align-items: baseline;
    flex-direction: row;
    flex-grow: 1;
    position: relative;
    left:10px;

    @include breakpoint-desk.mediadesktop-min($break-min:1024px){
        width:85vw;
        margin:0;
        
    }

.menu-entrees,.menu-plats{
    width:47%;
    margin:10px;
    margin-right:1vw;
     @include breakpoint-desk.mediadesktop-min($break-min:1024px){
        width:31vw;
        margin-right:-1vw;
        position: relative;
        left:-1.5vw;
    }
   ul li{
    width:95%;
    height:9.5vw;
    margin-bottom:2vw;
    @include breakpoint-tab.breakpoint-mintab($break-min:950px){
        height:8vw;
    }
   
    @include breakpoint-desk.mediadesktop-min($break-min:1024px){
        width: 30vw;
        height:6vw;
    }
    @include breakpoint-desk.mediadesktop-min($break-min:1280px){
         
        height:5.9vw;
    }
    @include breakpoint-desk.mediadesktop-min($break-min:1920px){
        height: 4.9vw;
        margin-bottom:1vw;
    }
 
    
    h3,p{
        font-size:14px;  
        @include breakpoint-desk.mediadesktop-min($break-min:991px){
            font-size: 18px;
        }
        @include breakpoint-desk.mediadesktop-min($break-min:1024px){
            font-size:11.5px;
        }
        @include breakpoint-desk.mediadesktop-min($break-min:1280px){
            font-size:14.5px;
        }
        @include breakpoint-desk.mediadesktop-min($break-min:1440px){
            font-size:15.5px;
        }
        @include breakpoint-desk.mediadesktop-min($break-min:1600px){
            font-size:17.5px;
        }
        @include breakpoint-desk.mediadesktop-min($break-min:1680px){
            font-size:18.5px;
        }
        @include breakpoint-desk.mediadesktop-min($break-min:1920px){
            font-size:21.5px;
        }
    }

    .prix_hover{
        font-size:15px;
        position: relative;
        left:14vw;
        top:-4.4vw; 
        @include breakpoint-tab.breakpoint-mintab($break-min:860px){
            font-size: 18px;
            left:16vw;
            top:-3.5vw;
        }
        @include breakpoint-tab.breakpoint-mintab($break-min:950px){
            font-size:21px;
            left:18vw;
        }
        @include breakpoint-desk.mediadesktop-min($break-min:1024px){
            left:19vw;
            top:-2vw;
            .prix{
            font-size:11.5px;
           }
        }
        @include breakpoint-desk.mediadesktop-min($break-min:1152px){
            left:20vw;
            top:-0.9vw;
            .prix{
            font-size:16.5px;
           }
        }
        @include breakpoint-desk.mediadesktop-min($break-min:1280px){
            left:20.5vw;
            top:-0.9vw;
            .prix{
            font-size:16.5px;
           }
        }
        @include breakpoint-desk.mediadesktop-min($break-min:1360px){
            left:21.5vw;
           
        }
        @include breakpoint-desk.mediadesktop-min($break-min:1440px){
            left:21.5vw;
            top:-0.7vw;
            .prix{
                font-size:17.5px;
            }
        }
        @include breakpoint-desk.mediadesktop-min($break-min:1600px){
            left:22vw;
            top:-0.2vw;
            .prix{
                font-size:20.5px;
            }
        }
        @include breakpoint-desk.mediadesktop-min($break-min:1920px){
            left:23vw;
        }
    }

    &:hover{

        & .prix2{
            font-size:15px;
            position: relative;
            top:-27.6vw;
            left:-23vw;
            @include breakpoint-tab.breakpoint-mintab($break-min:860px){
                top:-28.5vw;
            }
            @include breakpoint-desk.mediadesktop-min($break-min:1024px){
                font-size:11.5px;
                top:-29.2vw;
                left:-22vw;
            }
            @include breakpoint-desk.mediadesktop-min($break-min:1280px){
                font-size:14.5px;
                top:-30vw;
            }
            @include breakpoint-desk.mediadesktop-min($break-min:1440px){
                font-size:17.5px;
                top:-30vw; 
            }
            @include breakpoint-desk.mediadesktop-min($break-min:1600px){
                font-size:20.5px;
                top:-30.5vw; 
            }
            
        }

        & .fond-icon{
            width:25vw;
            position:relative;
            left:15vw;
            // ne pas mettre de position:top car le prix hover remonte
            @include breakpoint-tab.breakpoint-mintab($break-min:860px){
                left:17vw;
            }
            @include breakpoint-tab.breakpoint-mintab($break-min:950px){
                left:18vw;
            }
            @include breakpoint-desk.mediadesktop-min($break-min:1024px){
               left:9vw;
            }
            @include breakpoint-desk.mediadesktop-min($break-min:1280px){
                left:11.5vw;
            }
            @include breakpoint-desk.mediadesktop-min($break-min:1600px){
                left: 12vw;
            }
            @include breakpoint-desk.mediadesktop-min($break-min:1920px){
                left: 15vw;
            }
            
            
        }

        & .fa-circle-check{
            font-size:1.4rem;
            left:-8.5vw;
            top:-30vw;
            @include breakpoint-tab.breakpoint-mintab($break-min:950px){
                left:-10vw;
                top:-29.5vw;
            }
            
            @include breakpoint-desk.mediadesktop-min($break-min:1024px){
                font-size: 1.3rem;
                top:-30vw;
                left:-11.5vw;
            }
            @include breakpoint-desk.mediadesktop-min($break-min:1280px){
                font-size: 1.3rem;
                top:-31vw;
                left:-12vw;
            }
            @include breakpoint-desk.mediadesktop-min($break-min:1440px){
                font-size:1.8rem;
            }
            @include breakpoint-desk.mediadesktop-min($break-min:1600px){
                font-size: 1.7rem;
            }
            @include breakpoint-desk.mediadesktop-min($break-min:1920px){
                left:-13.2vw;
                top:-31.5vw;
            }
            
        }
        
    }
   }

   
}
.menu-plats{
    position: relative;
    left:0.3vw;
}
}

// concerne la liste désert qui est indépendant des entrées et plats
.menu-desserts{
    width:47%;
    margin:10px;
    position: relative;
    left:30px;
    @include breakpoint-desk.mediadesktop-min($break-min:1024px){
        width:40%;
        margin-left:4vw;
        position: relative;
        left:0vw;
    }
    ul li{
        width:95%;
        height:9.5vw;
        margin-bottom:2vw;
        @include breakpoint-tab.breakpoint-mintab($break-min:950px){
            height:8vw;
        }
        @include breakpoint-desk.mediadesktop-min($break-min:1024px){
            width: 30vw;
            height:6vw;
        }
        @include breakpoint-desk.mediadesktop-min($break-min:1280px){
            height:5.9vw;
        }
        @include breakpoint-desk.mediadesktop-min($break-min:1920px){
            height: 4.9vw;
            margin-bottom:1vw;
        }
       
        h3,p{
            font-size:14px;  
            @include breakpoint-desk.mediadesktop-min($break-min:991px){
                font-size: 18px;
            }
            @include breakpoint-desk.mediadesktop-min($break-min:1024px){
                font-size:11.5px;
            }
            @include breakpoint-desk.mediadesktop-min($break-min:1280px){
                font-size:14.5px;
            }
            @include breakpoint-desk.mediadesktop-min($break-min:1440px){
                font-size:15.5px;
            }
            @include breakpoint-desk.mediadesktop-min($break-min:1600px){
                font-size:17.5px;
            }
            @include breakpoint-desk.mediadesktop-min($break-min:1680px){
                font-size:18.5px;
            }
            @include breakpoint-desk.mediadesktop-min($break-min:1920px){
                font-size:21.5px;
            }
            
        }
    
        .prix_hover{
            font-size:15px;
            position: relative;
            left:14vw;
            top:-4.4vw; 
            @include breakpoint-tab.breakpoint-mintab($break-min:860px){
                font-size: 18px;
                left:16vw;
                top:-3.5vw;
            }
            @include breakpoint-tab.breakpoint-mintab($break-min:950px){
                font-size:21px;
                left:18vw;
            }
            @include breakpoint-desk.mediadesktop-min($break-min:1024px){
                left:19vw;
                top:-2vw;
                .prix{
                font-size:11.5px;
               }
            }
            @include breakpoint-desk.mediadesktop-min($break-min:1152px){
                left:20vw;
                top:-0.9vw;
                .prix{
                font-size:16.5px;
               }
            }
            @include breakpoint-desk.mediadesktop-min($break-min:1280px){
                left:20.5vw;
                top:-0.9vw;
                .prix{
                font-size:16.5px;
               }
            }
            @include breakpoint-desk.mediadesktop-min($break-min:1360px){
                left:21.5vw;
               
            }
            @include breakpoint-desk.mediadesktop-min($break-min:1440px){
                left:21.5vw;
                top:-0.7vw;
                .prix{
                    font-size:17.5px;
                }
            }
            @include breakpoint-desk.mediadesktop-min($break-min:1600px){
                left:22vw;
                top:-0.2vw;
                .prix{
                    font-size:20.5px;
                }
            }
            @include breakpoint-desk.mediadesktop-min($break-min:1920px){
                left:23vw;
            }



            // @include breakpoint-desk.mediadesktop-min($break-min:1280px){
            //     left:20.5vw;
            //  }
            //  @include breakpoint-desk.mediadesktop-min($break-min:1360px){
            //     left:21.5vw;
            //  }
        }
    
        &:hover{
    
            & .prix2{
                font-size:15px;
                position: relative;
                top:-27.6vw;
                left:-23vw;
                @include breakpoint-tab.breakpoint-mintab($break-min:860px){
                    top:-28.5vw;
                }
                @include breakpoint-desk.mediadesktop-min($break-min:1024px){
                    font-size:11.5px;
                    top:-29.2vw;
                    left:-22vw;
                }
                @include breakpoint-desk.mediadesktop-min($break-min:1280px){
                    font-size:16.5px;
                    top:-30vw;
                }
                @include breakpoint-desk.mediadesktop-min($break-min:1440px){
                    font-size:17.5px;
                    top:-30vw;
                }
                @include breakpoint-desk.mediadesktop-min($break-min:1600px){
                    font-size:20.5px;
                    top:-30.5vw; 
                }
                
                
            }
    
            & .fond-icon{
                width:25vw;
                position:relative;
                left:15vw;
                // ne pas mettre de position:top car le prix hover remonte
                @include breakpoint-tab.breakpoint-mintab($break-min:860px){
                    left:17vw;
                }
                @include breakpoint-tab.breakpoint-mintab($break-min:950px){
                    left:18vw;
                }
                @include breakpoint-desk.mediadesktop-min($break-min:1024px){
                    left:9vw;
                }
                @include breakpoint-desk.mediadesktop-min($break-min:1280px){
                    left:11.5vw;
                }
                @include breakpoint-desk.mediadesktop-min($break-min:1600px){
                    left: 12vw;
                }
                @include breakpoint-desk.mediadesktop-min($break-min:1920px){
                    left: 15vw;
                }
            }
    
            & .fa-circle-check{
                font-size:1.4rem;
                left:-8.5vw;
                top:-30vw;
                @include breakpoint-tab.breakpoint-mintab($break-min:950px){
                    left:-10vw;
                    top:-29.5vw;
                }
                
                @include breakpoint-desk.mediadesktop-min($break-min:1024px){
                    font-size: 1.3rem;
                    top:-30vw;
                    left:-11.5vw;
                }

                @include breakpoint-desk.mediadesktop-min($break-min:1280px){
                    font-size: 1.3rem;
                    top:-31vw;
                    left:-12vw;
                }
                @include breakpoint-desk.mediadesktop-min($break-min:1440px){
                    font-size:1.8rem;
                }
                @include breakpoint-desk.mediadesktop-min($break-min:1600px){
                    font-size: 1.7rem;
                }
                @include breakpoint-desk.mediadesktop-min($break-min:1920px){
                    left:-13.2vw;
                    top:-31.5vw;
                }
            }
            
        }
       }

     }

     
  }  


// Travail sur le bouton commencer (voir dans composant bouton.scss si besoin)
  .btn{
      width:30%;
      height: 7vw;
      font-size:22px;
      position: relative;
      left:26vw;
      bottom:26vw;
      margin-bottom:0vw;
      @include breakpoint-tab.breakpoint-mintab($break-min:800px){
        left:24vw;
        bottom:24vw;
    }
    @include breakpoint-tab.breakpoint-mintab($break-min:950px){
        left:22vw;
        bottom:22vw;
    }
    @include breakpoint-desk.mediadesktop-min($break-min:1024px){
        height: 6vw;
        left:0;
        bottom:0;
        margin-bottom:5vw;
    }
    @include breakpoint-desk.mediadesktop-min($break-min:1152px){
        width: 26%;
        font-size:25px;
        
    }
    @include breakpoint-desk.mediadesktop-min($break-min:1280px){
        font-size:30px;
        
    }
    @include breakpoint-desk.mediadesktop-min($break-min:1600px){
        font-size:40px;
        
    }
    @include breakpoint-desk.mediadesktop-min($break-min:1680px){
        width: 23%;
        height:5vw;
        font-size:32px;
        
    }
  }


  footer{
   .largeur_footer2{
    display: flex;
    flex-direction: column;
        height:33vw;
      
        
        @include breakpoint-tab.breakpoint-mintab($break-min:950px){
        height:30vw;
        padding-top:5vw;
        }
        @include breakpoint-desk.mediadesktop-min($break-min:1024px){
            height:25vw;
            padding-top:3.5vw; 
            padding-left:2vw;
        }
        @include breakpoint-desk.mediadesktop-min($break-min:1280px){
            height:20vw;
            padding-top:3.5vw; 
        }
        @include breakpoint-desk.mediadesktop-min($break-min:1500px){
            height:18vw;
            padding-top:3.5vw; 
        }
        @include breakpoint-desk.mediadesktop-min($break-min:1600px){
            height:19vw;
            padding-top:5.5vw; 
        }
        @include breakpoint-desk.mediadesktop-min($break-min:1920px){
            height:17vw;
            padding-top:5.5vw; 
        }

        h2, a, i, p{
            position: relative;
            left:-2vw;
        }
        h2{
            position: relative;
            left:-3vw;
        }
    }
}
}



