@use "../utils/breakpoint-desk";
@use "../mediaquery/mediaqueryTab-menu";
// @use "../utils/mixin-menu";
// @use "../utils/mixin-heart";




@media screen and (min-width:1024px){

    #header_menu{
        height:13vw;
        margin:0;
        padding: 0;

           & a{
                padding-bottom:0;
                
                & .fa-arrow-left{
                        font-size: 4rem;
                        position: relative;
                        top:35vw;
                        left: 8vw;
                        z-index: 3;
                    
                    // @include breakpoint-desk.mediadesktop-min($break-min:1152px){
                    //     font-size:4rem;
                    //     top: 32vw;
                    //     left: 9vw;
                    // }
                    // @include breakpoint-desk.mediadesktop-min($break-min:1920px){
                    //     font-size:8rem;
                    // }
                }
            
              
            }
            & img{
                width: 45vw;
                height: 9vw;
                left:11vw;
                top:2.5vw;

                // @include breakpoint-tab.breakpoint-mintab($break-min:1440px){
                // width:40vw;
                // height:10vw;
                // top:3vw;
                // left:12vw;
                // }
                // @include breakpoint-tab.breakpoint-mintab($break-min:1920px){
                //     width: 47vw;
                //     height: 11vw;
                //     top: 3vw;
                //     left: 10vw;
                // }
            }
    }

    .imgresto
{   
    width:100%;
    height:30vw;
    margin-top:0vw;
    background-color: white;
    object-fit:cover;
   
}



    .desktop{
        width:90%;
        display: flex;
        flex-direction: row;
        margin:0;
        
       
    }

// ****************** Pour retirer le logo du header ************************
// activer cette partie du code et mettre en commentaire la partie ci-dessus (en haut)

// #header_menu{
//     height:13vw;
//     margin:0;
//     padding: 0;

//         & img{
//             width: 45vw;
//             height: 9vw;
//             left:11vw;
//             top:2.5vw;

//             @include breakpoint-desk.mediadesktop-min($break-min:1024px){
//                 display: none;
//             }
//         }

//         & a{
//             padding-bottom:0;
         
//          & .fa-arrow-left{
//                  font-size: 4rem;
//                  position: relative;
//                  top:17vw;
//                  left: 8vw;
//                  z-index: 3;
//          }
//         }
// }

// .imgresto
// {   
// width:100%;
// height:30vw;
// margin-top:0vw;
// background-color: white;
// object-fit:cover;
// @include breakpoint-desk.mediadesktop-min($break-min:1024px){
//    height: 25vw;
//    margin-top:-15vw;
// }
// }

// *****************************************************************





}




























// @media screen and (min-width:1024px){
//     body{
//         width: 100%;
//     }
//     #header_menu{
    
//            a{
//             div i{
                 
//                  &.fa-arrow-left{
//                     width:20vw;
//                     height:15vw;
//                     font-size: 6rem;
//                     display:flex;
//                     top:1.5vw;
                    
                    
//                  }
//             }
           
//            }
//            div img{
//             width:50vw;
//             height:11vw;
           
//            }
//     }

//     #main_menu{

 
//     div.menu{
//         h1{
            
//             font-size:50px;
//             @include breakpoint-desk.mediadesktop-min($break-min:1152px){
//                 font-size: 52px;
//             }
//             // position: relative;
//             // left: 4vw;
//             .titre{
//                 color:green;
//             }
//         }
//           .desktop{
        
//                 .line{
//                     width:4vw;
//                 }
//             }
//           div.heart_menu{
//              &.coeur{
//                font-size:1.4rem;
//                 top:-2.8vw; 
//                 left:86vw;
//                 }
//             }

//              .menu_hover{
//     & h3{
//         font-size: 18px;
//     }
//    & p{
//         font-size: 18px;
//     }
// }
//         }
  


   


   


// }



   
        
//      footer{
//        div.largeur_footer2{
//             height:25vw;
//             padding-top:3.5vw;
//             border:1px solid red;
//         }

//      }   
        





//     }














// @media screen and (min-width:1440px){

//     body{
//         width: 100%;
//     }


// // ::::::::::::::::::::::::::::::::::::::::::::suprimer ?
// //     #header_menu{
      
        
// // }

// // ::::::::::::::::::::::::::::::::::::::::::::suprimer ?


//     #main_menu{
//         .menu{
           
//             .titre{
//                 font-size: 50px;
//                 position: relative;
//                 top:2vw;
//                 // @include breakpoint-desk.mediadesktop-min($break-min:2560px){
//                 //     font-size:81px;
//                 //     position: relative;
//                 //     top:5vw;
//                 // }
//             }


//             @include breakpoint-desk.mediadesktop-min($break-min:1536px){
//                 padding-left:2vw;
//             }
//             @include breakpoint-desk.mediadesktop-min($break-min:1570px){
//                 padding-left:2.5vw;
//             }
//             @include breakpoint-desk.mediadesktop-min($break-min:1884px){
//                 padding-left:4vw;
//             }

//             .desktop{
//                 margin-top:8vw;
//                 @include breakpoint-desk.mediadesktop-min($break-min:1441px){
//                     margin-top: 9vw;
//                 }
//                 ul{
//                     margin-top: 3vw;
//                 }
//                 .line{
//                     width:6vw;
//                 }
               
//             }
//             .fa-2x{
//                 font-size:4rem;
//                 position: relative;
//                 top:-0.5vw;
//                 @include breakpoint-desk.mediadesktop-min($break-min:1441px){
//                     font-size:8rem;
//                 }
//                 @include breakpoint-desk.mediadesktop-min($break-min:2560px){
//                     font-size:7rem;
//                     position: relative;
//                     top:1vw;
//                 }
//             }
//         }
        
//     }
// }

