@use "../utils/variables";
@use "../utils/mixin-accueil";
@use "../composant/box-shadow";



#apropos .localisation
{
    width:100%;
    height:100%;
    display:flex;
    align-items: center;
    margin:0;
    background-color: variables.$belleville-color;
            
        & .belleville {
            width:100%;
            display:block;
            flex-direction:row;
            text-align:center;
            font-size:12px;
            font-weight:bold;
            padding-top:5%;
            padding-bottom:5%;
            opacity:(0.90);
            position:relative;
            right:5%;
            & i{
                width:6vw;
                padding-right:5px;
            }
    }
       
    }

  
    // concerne le message en page d'accueil pour présenter ohmyfood
 .fond-colo
 {
     width: 100%;
     display:flex;
     flex-direction: column;
     padding-top:30px;
     padding-bottom:50px;
     background-color:variables.$fond-color;


        & h1{
            font-family:'Roboto',sans-serif;
            @include mixin-accueil.texth1-accueil;
            }

        & p{
            
            width:100%;
            font-size:17px;
            text-align: center; 
            padding: 10px;
            padding-top: 5%;
            padding-bottom:5%;
            opacity:(0.75);
            }
            button{
                font-size: 14px;
            }

}
    




    