@use "../composant/animation";
@use "../utils/variables";


.loader{
display:flex;
flex-direction: column;
align-items: center;
justify-content: center;
background-color:black;
opacity: 0.9;
height: 100vh;
position: fixed;
inset:0;
z-index:6;
@include animation.fin-loader; 
}




.loader-icon1::before {

content:"";
display: flex;
align-self: center;
justify-self: center;
position: relative;
top:55vw;
left:10%;
width:300px;
height:300px;
border:8px solid variables.$secondary-color;
border-radius:150px;
@include animation.loader-circle1;
z-index:1;
}

.loader-icon1::after{
    font: var(--fa-font-solid);
    content:"";
    display: flex;
    text-align: center;
    width:120px;
    height:150px;
    padding:20px;
    color:white;
    font-size:100px;
    position: relative;
    bottom:5vw;
    left:34vw;
    @include animation.loader-icon1;
    z-index:2;

}







.loader-icon2::before{
    content:"";
    visibility:none;
    display: flex;
    align-self: center;
    justify-self: center;
    position: relative;
    left:17vw;
    bottom:0;
    width: 250px;
    height: 250px;
    border:15px solid yellow;
    border-radius:150px;
    border-style: groove;
    z-index:3;
    @include animation.loader-circle2;
    
}

.marque::before{
    content:"";
    width: 300px;
    font-family:variables.$titre-Police;
    text-align: center;
    color:white;   
    font-size:35px;
    left:25vw;
    bottom:380px;
     z-index:5;
    @include animation.marque;
   
    
}

// .loader-icon2::after{
// content:"";
// width:170px;
// height:100px;
// padding:10px;
// font-family:variables.$titre-Police;
// font-size:50px;
// color:white;
// display: flex;
// text-align: center;
// position: relative;
// left:30vw;
// bottom:45vw;
// z-index:4;
// @include animation.loader-ohmyfood;

// }

    

    