@use "../utils/variables";
@use "../utils/mixin-accueil";
@use "../utils/mixin-restaurant";
@use "../utils/mixin-heart";




#resto 
{   
    width:100%;
    margin-top:50px;
    background-color:variables.$fond-color;
    & h2 {
        @include mixin-accueil.texth2-accueil;
    } 
}


.restaurants 
{
@include mixin-restaurant.div-restaurant;
.new 
{
    position: relative;
}

.new::before{
    content: "Nouveau";
    @include mixin-restaurant.etiquette-nouveau;
}
}


.resto_photo 
{
@include mixin-restaurant.taillecarte-resto;    
}


.resto_fond
{
@include mixin-restaurant.taillefond-resto;    

}

h3, p
{
@include mixin-restaurant.text-resto; 
}


h3
{
    font-weight: bolder; 
    padding-top: 10px;
    padding-bottom:10px;
}
    

.lieu
{
    display: flex;
    opacity:(0.80);
    padding-top:1vw;
    position: relative;
    bottom:10px;
}


// positionnement de l'icone heart

.resto1, .resto2, .resto3, .resto4
{
@include mixin-restaurant.divresto;
}

