@use "../utils/breakpoint-mob";
@use "../utils/variables";
@use "../utils/mixin-accueil";



#resto 

{
    width:100%;
    margin-top:50px;
    background-color:variables.$fond-color;
    & h2 {
        @include mixin-accueil.mainh2-accueil;
    } 
}

   .restaurants {
    display: flex;
    width:100%;
    margin:0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding:5px;
}


.resto_photo {
@include mixin-accueil.taillecarte-resto;    
}

.resto_fond {
    @include mixin-accueil.taillefond-resto;    
}


h3, p{
    @include mixin-accueil.text-resto;
    width:70%; 
    @include breakpoint-mob.breakpoint($break:280px)
    {padding-left:12px;}
    }


h3{
    font-weight: bolder; 
    padding-top: 10px;
    padding-bottom:10px;
    @include breakpoint-mob.breakpoint($break:280px)
    {padding-bottom: 5px;}
    }
    
.lieu
{
  opacity:(0.80);  
   
}


// positionnement de l'icone heart


.resto1, .resto2, .resto3, .resto4
{
    @include mixin-accueil.divresto;
}


