@use "../utils/breakpoint-mob";
@use "../utils/variables";
@use "../utils/mixin-accueil";
@use "../utils/mixin-restaurant";



#resto 
{
    width:100%;
    margin-top:50px;
    background-color:variables.$fond-color;
    & h2 {
        @include mixin-accueil.mainh2-accueil;
    } 
}


.restaurants 
{
@include mixin-restaurant.div-restaurant;
.new 
{
    position: relative;
}

.new::before{
    content: "Nouveau";
    @include mixin-restaurant.etiquette-nouveau;
}
}



.resto_photo 
{
@include mixin-restaurant.taillecarte-resto;    
}



.resto_fond
{
@include mixin-restaurant.taillefond-resto;    

}

h3, p
{
@include mixin-restaurant.text-resto; 
}



h3
{
    font-weight: bolder; 
    padding-top: 10px;
    padding-bottom:10px;

    // Travail sur média query (voir la mixin breakpoint-mob)
    @include breakpoint-mob.mob280
    {padding-bottom: 5px;}
}
    


.lieu
{
opacity:(0.80); 

  // Travail sur média query (voir la mixin breakpoint-mob)
  @include breakpoint-mob.breakpoint-min($break-min:320px)
  {
      position: relative;
      bottom:5px;
  }
}




// positionnement de l'icone heart

.resto1, .resto2, .resto3, .resto4
{
@include mixin-restaurant.divresto;
}




// ************************************************************

// ajout média query ultime pour les mobiles 411px,412px,414px
@media screen and (min-width:409px) and (max-width:416px){


    .resto_photo
    {
        height:266px;
    }

    .resto_fond 
    {
        width:89.5vw;
       
    }
    .resto1, .resto2, .resto3, .resto4
    {
     margin-bottom:55px;
    }
    
    }

// ************************************************************
