@use "../utils/variables.scss";
@use "../utils/media.scss";

header
{
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    h1{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-bottom:20px;
        margin-bottom: 0;
        border-bottom: 1px solid variables.$shadow-color;
        box-shadow: 0 5px 5px 0 variables.$shadow-color;
        z-index: 1;
    }
    .localisation{
        width:100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin:0;
        padding-top:10px;
        padding-bottom:10px;
        background-color: variables.$belleville-color;
    }
   
    p:first-child, i {
        font-size:110%;
        font-weight: bold; 
    }
    .fond-colo{
        width: 100%;
        display:flex;
        flex-direction: column;
        padding-top:30px;
        padding-bottom:50px;
        background-color:variables.$fond-color;

            & h2{
                width:100%;
                font-size:30px;
                font-weight:bolder;
                text-align:center;
            }
            & p{
                width:100%;
                text-align: center; 
            }
            & button{
                
                align-self: center;
                border:1px solid red;
            }
    }
}  

   
