
@mixin mobxs  {
    @media screen and (max-width:354px) {
    width:100vw;
    @content;
    }
    
}

@mixin mobxm  {
    @media screen and (max-width:374px) {
    width:100vw;
    @content;
    }
    
}


@mixin mob16  {
    @media screen and (min-width:425px) and (max-width:599px) {
    width:100vw;
    background-color:orange;
    @content;
    }
    
}

@mixin mob17  {
    @media screen and (min-width:600px) and (max-width:767px) {
    width:100vw;
    background-color:green;
    @content;
    }
    
}





