@use "../utils/variables";



@mixin heart
{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size:0.8rem;
    margin:0;
    padding:0;
    padding-right:10%;
    width:2rem;
    height:2rem;
    position: relative;
    top:-34.5vw;
    left:88%;
    @content;  
}




// Cette partie concerne le jeu de couleur pour le coeur en transition

@mixin heart1 
{
   color:black;
   transition:2s;
   z-index:2;
}
    

@mixin heart2 
{
    font-weight: bold; 
    cursor: pointer;
    color:transparent;
    background-image:linear-gradient(variables.$primary-color,variables.$secondary-color,);
    -webkit-background-clip:text;
    -webkit-background-clip:text;
    transition:2s;
    z-index:1;
    @content;
}
    




