@use "../utils/variables";
@use "../composant/box-shadow";


@mixin menuh1 
{
    display: flex;
    width:80%;
    font-size:26px;
    padding-top: 35px;
    padding-left: 20px;
    @content;
}

@mixin menuh2 {
    font-family:'Roboto',sans-serif;
    font-size:18px;
    font-weight:300;
    padding-left:20px;
    margin-top:10px;
    padding-bottom:10px;
    opacity: (0.5);
    @content;
}

@mixin lineh2 {
    display:flex;
    justify-items: baseline;
    border-bottom:4px solid variables.$tertiary-color;
    width:55px;
    padding: 0;
    margin-left:20px;
    @content;
}

@mixin menuli {
    width:89vw;
    height:19vw;
    display:flex;
    flex-direction:column;
    align-self:center;
    border:1px solid none;
    margin:10px;
    padding-bottom:1vw;
    margin-bottom:4vw;
    border-radius:15px;
    background-color:white;
    overflow: hidden;
    @include box-shadow.shadow;
    @content;   
}

@mixin menuh3 {
    width:89%;
    font-size:13.5px;
    padding: 0;
    padding-bottom:5px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    @content;
}


@mixin menu-p {
    width:77%;
    font-size:11.5px;
    padding:0vw;
    flex-direction:column;
    justify-items: center;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis; 
    @content;  
}



@mixin prix-hover-before {
    display: flex;
    flex-direction:row-reverse;
    align-items: baseline;
    justify-content:flex-start;
    width:100%;
    height:80px;
    margin:0;
    padding:0;
    margin-left:100px;
    position: relative;
    top:-11vw;
    z-index: 1;
   @content;
   
}


@mixin prix
{
    display:flex;
    align-items: center;
    justify-content: center;
    width:10%;
    height:25px;
    font-weight: bold;
    font-size:15px;
    padding:0;
    position: relative;
    right:30vw;
    top:-3vw;
    cursor: pointer;
    z-index: 2;
    @content;
}


@mixin prix2
{
    display:flex;
    align-items: center;
    justify-content: center;
    width:10%;
    height:25px;
    font-weight: bold;
    font-size:15px;
    padding:0;
    position: relative;
    top:-22.2vw;
    right:52vw;
    cursor: pointer;
    @content;
}




@mixin fond-icon
{   width:19vw;
    height:30vw;
    background-color:variables.$tertiary-color;
    position:relative;
    top:-10vw;
    left:4vw;
    cursor:pointer;
    z-index:1;
    @content;      
}
  



@mixin menu-icon
 {
    display:flex;
    text-align: center;
    padding:23px;
    width:75px;
    height:76px;
    font-size:1.2rem;
    color:white;
    position:relative;
    left:-17vw;
    top:-25vw;
    cursor:pointer;
    z-index:2;
    @content;

}


