@use "../utils/breakpoint-mob";
@use "../utils/variables";


// concerne la div entière regroupant les cartes restaurants sur la page d'accueil
@mixin div-restaurant
{
    display: flex;
    width:100%;
    margin:0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding:5px;
    @content;
}

@mixin etiquette-nouveau
{
    width:28vw;
    height:2em;
    display:flex;
    align-items: center;
    justify-content: center;
    font-family:'Roboto', sans-serif;
    font-weight:bold;
    padding:6%;
    font-size:5vw;
    border:1px solid none;
    color:darken(variables.$tertiary-color,40%);
    background-color:variables.$tertiary-color;
    border-radius:5px;
    position:absolute;
    top:25px;
    left:60vw;
    @content;
    
}

//concerne la tailles des cartes de restaurants avec leurs fond.
@mixin taillecarte-resto
{
    width:94vw;
    height:245px;
    margin:0;
    padding: 10px;
    padding-bottom:0;
    object-fit:cover;
    border-top-left-radius:25px;
    border-top-right-radius:25px;
    @content;
}



// concerne le texte (titre et localisation)

@mixin text-resto {
    width:70%;
    font-size:18px;
    padding-left:25px;
    z-index:1;
    @content;
    }



// concerne le fod blanc des cartes restaurants dans la page d'accueil

@mixin taillefond-resto {
  
    width:89vw;
    height:20vw;
    margin:0;
    margin-bottom:50px;
    display:flex;
    flex-direction: column;
    position: relative;
    bottom:8px;
    background-color: white;
    border-bottom-left-radius:25px;
    border-bottom-right-radius:25px;
    box-shadow:5px 5px 5px variables.$shadow-color;
    @content;
}


// concerne le margin entre chaque carte de restaurant dans le menu

@mixin divresto {
    height:320px;
    padding:0;
    margin-bottom:30px;
    @content;    
} 

