@use "../utils/variables";
@use "../composant/box-shadow";
@use "../utils/breakpoint-mob";



@mixin mainh2-fonctionnement {
    width:80%;
    font-size:5vw;
    font-weight: bolder;
    text-align: initial;
    padding-top:10%;
    position: relative;
    left:-5px;
    @content;

    // Travail sur média query (voir la mixin breakpoint-mob)
    @include breakpoint-mob.breakpoint-min($break-min:480px)
    {
    position: relative;
    left:-15px;
    }
    @include breakpoint-mob.mob320
    {
    width:80%;
    left:-8px;
    }
}


@mixin li-counter {
    content:counter(etapes);
    counter-increment:etapes;
    display: flex;
    width:25px;
    height:25px;
    color:white;
    align-items: center;
    justify-content:center;
    padding:10px;
    margin-right:0px;
    border:1px solid none;
    border-radius:20px ;
    background-color:variables.$primary-color;
    position: relative;
    right:7%;
    @content;

    // Travail sur média query (voir la mixin breakpoint-mob)
    @include breakpoint-mob.breakpoint-min($break-min:480px)
    {
    padding:15px;
    position: relative;
    right:18px;
    }
    @include breakpoint-mob.mob280
    {
    position: relative;
    right:10%;
    }  
}


@mixin li-liste 
{ 
    display: flex;
    list-style-type:none;
    font-size:4vw;
    align-items:center;
    font-weight:600;
    width:90%;
    height:70px;
    padding:20px;
    padding-left:10px;
    margin-bottom: 20px;
    border:1px solid none;
    background-color:variables.$fond-color;
    border-radius: 20px;
    @include box-shadow.shadow;
    @content;

     
    // Travail sur média query (voir la mixin breakpoint-mob) 
    @include breakpoint-mob.mob280
    {
    width:97%;
    height:60px;
    font-size:3.8vw;
    position: relative;
    right:15px;
    }

    @include breakpoint-mob.mob360
    {
    width:97%;
    font-size:3.8vw;
    position: relative;
    right:15px;
    }  

    @include breakpoint-mob.breakpoint-min($break-min:480px)
    {
    width:90%;
    height:100px; 
    font-size:4.2vw;   
    position: relative;
    left:10px;
    }
}




@mixin tuto-icon
{
    display:flex;
    width:30px;
    height:30px;
    opacity: (0.5);
    align-items: center;
    margin-right:20px;
    font-size:1.4rem;
    @content;

    // Travail sur média query (voir la mixin breakpoint-mob)
    @include breakpoint-mob.breakpoint-min($break-min:480px)
    {
        font-size:1.7rem ;
        margin-right:35px;
        margin-left:20px;
    }
    @include breakpoint-mob.mob280
    {
    margin-right:2px;
    }

    
}