@use "../utils/variables";
@use "../composant/box-shadow";
@use "../utils/breakpoint-mob";



@mixin mainh2-fonctionnement {
    width:80%;
    font-size:5vw;
    font-weight: bolder;
    text-align: initial;
    padding-top:10%;
    position: relative;
    left:-5px;
    @include breakpoint-mob.mobxs
    {
        width:80%;
        left:-8px;
    }
}

@mixin li-counter {
    content:counter(etapes);
    counter-increment:etapes;
    display: flex;
    width:25px;
    height:25px;
    color:white;
    align-items: center;
    justify-content:center;
    margin-right:0px;
    border:1px solid none;
    border-radius:20px ;
    background-color:variables.$primary-color;
    position: relative;
    right:7%;

    @include breakpoint-mob.breakpoint($break:280px)
    {
        position: relative;
        right:10%;
    }

    @content;
}

@mixin li-liste 
{
      
    display: flex;
    list-style-type:none;
    font-size:4vw;
    align-items:center;
    font-weight:600;
    width:90%;
    height:70px;
    padding:20px;
    padding-left:10px;
    margin-bottom: 20px;
    border:1px solid none;
    background-color:variables.$fond-color;
    border-radius: 20px;
    @include box-shadow.shadow;
    
     //ajout de média query pour arranger certains décalage visuel 
       
     @include breakpoint-mob.breakpoint($break:280px)
     {
      width:97%;
      height:60px;
      font-size:3.8vw;
      position: relative;
      right:15px;
      }

     @include breakpoint-mob.breakpoint($break:360px)
     {
      width:97%;
      font-size:3.8vw;
      position: relative;
      right:15px;
     }
    @content;
}




@mixin tuto-icon
{
    display:flex;
    width:30px;
    height:30px;
    opacity: (0.5);
    align-items: center;
    margin-right:20px;
    font-size:1.4rem;

    @include breakpoint-mob.breakpoint($break:280px)
    {
    margin-right:2px;
    }

    @content;
}