@use "../utils/variables";
@use "../composant/box-shadow";
@use "../utils/breakpoint-mob";


@mixin menuh1 
{
    display: flex;
    width:80%;
    font-size:1.6rem;
    padding-top: 35px;
    padding-left: 20px;
    @content;
}

@mixin menuh2 {
    font-family:'Roboto',sans-serif;
    font-size:1.2rem;
    font-weight:300;
    padding-left:20px;
    margin-top:10px;
    padding-bottom:10px;
    opacity: (0.5);
    @content;
}

@mixin lineh2 {
    display:flex;
    justify-items: baseline;
    border-bottom:4px solid variables.$tertiary-color;
    width:55px;
    padding: 0;
    margin-left:20px;
    @content;
}

@mixin menuli {
    width:93%;
    height:18vw;
    display:flex;
    flex-direction:column;
    align-self:center;
    border:1px solid none;
    margin:10px;
    padding-bottom:1vw;
    margin-bottom:4vw;
    border-radius:15px;
    background-color:white;
    overflow: hidden;
    @include box-shadow.shadow;
    @content; 
    
    @include breakpoint-mob.breakpoint-min($break-min:700px){
        height:17vw;
    }
}

@mixin menuh3 {
    width:94%;
    font-size:1.1rem;
    padding: 0.2vw;
    padding-bottom:5px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    @content;
}


@mixin menu-p {
    width:96%;
    font-size:1rem;
    padding:0.2vw;
    flex-direction:column;
    justify-items: center;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis; 
    @content;  
}



@mixin prix-hover-before {
    display: flex;
    flex-direction:row-reverse;
    align-items: baseline;
    justify-content:flex-start;
    width:100%;
    height:80px;
    margin:0;
    padding:0;
    margin-left:100px;
    position: relative;
    top:-11vw;
    z-index: 1;
   @content;
   
}


@mixin prix
{
    display:flex;
    align-items: center;
    justify-content: center;
    width:10%;
    height:25px;
    font-weight: bold;
    font-size:0.9rem;
    padding:0;
    position: relative;
    right:30vw;
    top:8.6vw;
    cursor: pointer;
    z-index: 2;
    @content;
}


@mixin prix2
{
    display:flex;
    align-items: center;
    justify-content: center;
    width:10%;
    height:25px;
    font-weight: bold;
    font-size:0.9rem;
    padding:0;
    position: relative;
    top:-16.8vw;
    right:43.5vw;
    cursor: pointer;
    @content;

    @include breakpoint-mob.breakpoint-min($break-min:425px){
        top:-17.3vw;
    }

}




@mixin fond-icon
{   width:30vw;
    height:30vw;
    background-color:variables.$tertiary-color;
    position:relative;
    top:-8vw;
    left:48vw;
    cursor:pointer;
    z-index:1;
    @content; 

    @include breakpoint-mob.breakpoint-min($break-min:630px){
        left:49.5vw;
    }

}
  



@mixin menu-icon
 {
    display:flex;
    text-align: center;
    padding:23px;
    font-size:1.1rem;
    color:red;
    position:relative;
    left:4vw;
    top:-21vw;
    cursor:pointer;
    z-index:2;
    @content;

}


