@use "../utils/variables";
@use "../utils/breakpoint-mob";


@mixin texth2-accueil {
    width:90%;
    font-family: 'Roboto',sans-serif;
    font-size:5vw;
    font-weight: bolder;
    text-align: initial;
    padding-top:10%;
    position: relative;
    left:30px;
    @content;
    
    // Travail sur média query (voir la mixin breakpoint-mob)
    @include breakpoint-mob.mob320
    {
        width:78%;
    }
    @include breakpoint-mob.mob280
    {
        width:75%;
        position: relative;
        left:25px;
    }
}



//concerne le h2 de la page d'accueil.

@mixin texth1-accueil 
{   width:100%;
    font-size:5vw;
    font-weight:bolder;
    text-align:center;
    padding-left:20%;
    padding-right:20%;
    @content;
}

