$primary-color:#9356DC;
$secondary-colr:#FF79DA;
$tertiary-color: #99E2D0; 
$shadow-color:#D5D5D5;
$belleville-color:#EAEAEA;
$hoverfonctio-color: #F5EDFF;
$fond-color:#F6F6F6;
$text-nouveau: #008766;
$footer-color:#353535;
